
.grid-modal-newfeed{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-newfeed-left{

}

.modal-newfeed-right{
    padding: 1rem;
}

.image-modal-newfeed{
    width: 380px;
    height: 380px;
}