<div class="container my-3">
    <div class="text-center">
        <h1>Thông tin tài khoản</h1>
        <div class="form-name">
            <form>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label text-right">Email</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label text-right">Họ tên</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="staticEmail">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label text-right">Số điện thoại</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="staticEmail">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>