<div class="container my-3 layout-index">
    <div class="text-center">
        <h1>Thông tin tài khoản</h1>
        <div class="form-name">
            <form>
                <div class="mb-4 row">
                    <div class="col-4 col-lg-3 text-right">
                        <label for="email" class=" mr-3 lbl-info">Email:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" disabled class="form-control" id="email" value="email@example.com">
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3  text-right">
                        <label for="name" class="mr-3 lbl-info">Họ và tên:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3  text-right">
                        <label for="phone" class="mr-3 lbl-info">Số điện thoại:</label>
                    </div>
                    <div class="col-8">
                        <input type="number" class="form-control example-right-align" id="phone">
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3  text-right">
                        <label for="nameShop" class="mr-3 lbl-info">Tên shop:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="nameShop">
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3 ">
                    </div>
                    <div class="col-8 text-left">
                        <button mat-raised-button color="primary">Lưu</button>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>
