<nav aria-label="breadcrumb">
  <ol class="breadcrumb product-content-title">
    <li class="breadcrumb-item" aria-current="page">Địa chỉ</li>
  </ol>
</nav>

<div class="address">
  <div class="address__header">
    <div class="address__caption">
      <div class="address__heading-wrap">
        <div class="address__title">
          <h2>Quản lý địa chỉ shop</h2>
        </div>
        <div class="address__help" data-bs-toggle="modal" data-bs-target="#address-help">
          <i class="address__help-icon fa fa-question-circle"></i>
          <div class="address__help-title">Click vào để xem hướng dẫn cách lấy địa chỉ</div>
        </div>
      </div>
      <div class="address__subtitle">Địa chỉ vận chuyển và giao hàng của bạn</div>
    </div>

    <button class="address__create-btn">
      <i class="address__create-icon fa fa-plus"></i>
      <p class="address__create-text">Thêm địa chỉ mới</p>
    </button>
  </div>

  <div class="address__list">
    <div class="address__list-item">
      <div class="address__list-item-icon">
        <svg viewBox="0 0 32 32">
          <path d="M17.7 29.2H22c.6 0 1 .4 1 1s-.4 1-1 1H10c-.6 0-1-.4-1-1s.4-1 1-1h4.3C11.3 25.4 5 17.1 5 12.4 5 6.2 9.9 1.2 16 1.2s11 5 11 11.2c0 4.7-6.3 13-9.3 16.8zM16 3.2c-5 0-9 4.2-9 9.4s9 15.6 9 15.6 9-10.4 9-15.6c0-5.2-4-9.4-9-9.4zm-5 9c0-2.8 2.2-5 5-5s5 2.2 5 5-2.2 5-5 5-5-2.3-5-5zm8 0c0-1.7-1.3-3-3-3s-3 1.3-3 3 1.3 3 3 3 3-1.4 3-3z"></path>
        </svg>
      </div>
      <div class="address__list-item-content">
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Họ & tên
          </div>
          <div class="address__list-item-content-name">
            Nguyễn Quốc Toàn
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Số điện thoại
          </div>
          <div class="address__list-item-content-phone">
            06969696969
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Địa chỉ
          </div>
          <div class="address__list-item-content-address">
            <p>
            800 Nguyễn Thị Minh Khai -
            Phường Nguyễn Văn Cừ -
            Thành Phố Quy Nhơn -
            Bình Định
          </p>
          </div>
        </div>
      </div>
      <div class="address__list-item-action">
        <div class="address__list-item-action-edit">Sửa</div>
        <div class="address__list-item-action-delete">Xóa</div>
      </div>
    </div>
    <div class="address__list-item">
      <div class="address__list-item-icon">
        <svg viewBox="0 0 32 32">
          <path d="M17.7 29.2H22c.6 0 1 .4 1 1s-.4 1-1 1H10c-.6 0-1-.4-1-1s.4-1 1-1h4.3C11.3 25.4 5 17.1 5 12.4 5 6.2 9.9 1.2 16 1.2s11 5 11 11.2c0 4.7-6.3 13-9.3 16.8zM16 3.2c-5 0-9 4.2-9 9.4s9 15.6 9 15.6 9-10.4 9-15.6c0-5.2-4-9.4-9-9.4zm-5 9c0-2.8 2.2-5 5-5s5 2.2 5 5-2.2 5-5 5-5-2.3-5-5zm8 0c0-1.7-1.3-3-3-3s-3 1.3-3 3 1.3 3 3 3 3-1.4 3-3z"></path>
        </svg>
      </div>
      <div class="address__list-item-content">
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Họ & tên
          </div>
          <div class="address__list-item-content-name">
            Nguyễn Quốc Toàn
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Số điện thoại
          </div>
          <div class="address__list-item-content-phone">
            06969696969
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Địa chỉ
          </div>
          <div class="address__list-item-content-address">
            <p>
            800 Nguyễn Thị Minh Khai -
            Phường Nguyễn Văn Cừ -
            Thành Phố Quy Nhơn -
            Bình Định
          </p>
          </div>
        </div>
      </div>
      <div class="address__list-item-action">
        <div class="address__list-item-action-edit">Sửa</div>
        <div class="address__list-item-action-delete">Xóa</div>
      </div>
    </div>
    <div class="address__list-item">
      <div class="address__list-item-icon">
        <svg viewBox="0 0 32 32">
          <path d="M17.7 29.2H22c.6 0 1 .4 1 1s-.4 1-1 1H10c-.6 0-1-.4-1-1s.4-1 1-1h4.3C11.3 25.4 5 17.1 5 12.4 5 6.2 9.9 1.2 16 1.2s11 5 11 11.2c0 4.7-6.3 13-9.3 16.8zM16 3.2c-5 0-9 4.2-9 9.4s9 15.6 9 15.6 9-10.4 9-15.6c0-5.2-4-9.4-9-9.4zm-5 9c0-2.8 2.2-5 5-5s5 2.2 5 5-2.2 5-5 5-5-2.3-5-5zm8 0c0-1.7-1.3-3-3-3s-3 1.3-3 3 1.3 3 3 3 3-1.4 3-3z"></path>
        </svg>
      </div>
      <div class="address__list-item-content">
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Họ & tên
          </div>
          <div class="address__list-item-content-name">
            Nguyễn Quốc Toàn
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Số điện thoại
          </div>
          <div class="address__list-item-content-phone">
            06969696969
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Địa chỉ
          </div>
          <div class="address__list-item-content-address">
            <p>
            800 Nguyễn Thị Minh Khai -
            Phường Nguyễn Văn Cừ -
            Thành Phố Quy Nhơn -
            Bình Định
          </p>
          </div>
        </div>
      </div>
      <div class="address__list-item-action">
        <div class="address__list-item-action-edit">Sửa</div>
        <div class="address__list-item-action-delete">Xóa</div>
      </div>
    </div>
    <div class="address__list-item">
      <div class="address__list-item-icon">
        <svg viewBox="0 0 32 32">
          <path d="M17.7 29.2H22c.6 0 1 .4 1 1s-.4 1-1 1H10c-.6 0-1-.4-1-1s.4-1 1-1h4.3C11.3 25.4 5 17.1 5 12.4 5 6.2 9.9 1.2 16 1.2s11 5 11 11.2c0 4.7-6.3 13-9.3 16.8zM16 3.2c-5 0-9 4.2-9 9.4s9 15.6 9 15.6 9-10.4 9-15.6c0-5.2-4-9.4-9-9.4zm-5 9c0-2.8 2.2-5 5-5s5 2.2 5 5-2.2 5-5 5-5-2.3-5-5zm8 0c0-1.7-1.3-3-3-3s-3 1.3-3 3 1.3 3 3 3 3-1.4 3-3z"></path>
        </svg>
      </div>
      <div class="address__list-item-content">
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Họ & tên
          </div>
          <div class="address__list-item-content-name">
            Nguyễn Quốc Toàn
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Số điện thoại
          </div>
          <div class="address__list-item-content-phone">
            06969696969
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Địa chỉ
          </div>
          <div class="address__list-item-content-address">
            <p>
            800 Nguyễn Thị Minh Khai -
            Phường Nguyễn Văn Cừ -
            Thành Phố Quy Nhơn -
            Bình Định
          </p>
          </div>
        </div>
      </div>
      <div class="address__list-item-action">
        <div class="address__list-item-action-edit">Sửa</div>
        <div class="address__list-item-action-delete">Xóa</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="address-help" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hướng dẫn cách lấy địa chỉ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        B1
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đã hiểu</button>
      </div>
    </div>
  </div>
</div>
