<nav aria-label="breadcrumb">
  <ol class="breadcrumb product-content-title">
    <li class="breadcrumb-item" aria-current="page">Địa chỉ</li>
  </ol>
</nav>

<div class="address">
  <div class="address__header">
    <div class="address__caption">
      <div class="address__heading-wrap">
        <div class="address__title">
          <h2>Quản lý địa chỉ shop</h2>
        </div>
        <!-- <div class="address__help" data-bs-toggle="modal" data-bs-target="#address-help">
          <i class="address__help-icon fa fa-question-circle"></i>
          <div class="address__help-title">Click vào để xem hướng dẫn cách lấy địa chỉ</div>
        </div> -->
      </div>
      <div class="address__subtitle">Địa chỉ vận chuyển và giao hàng của bạn</div>
    </div>

    <button class="address__create-btn" data-bs-toggle="modal" data-bs-target="#address-post">
      <i class="address__create-icon fa fa-plus"></i>
      <p class="address__create-text">Thêm địa chỉ mới</p>
    </button>
  </div>

  <div class="address__list" *ngFor="let item of shop.address;index as i">

    <div class="address__list-item">
      <div class="address__list-item-icon">
        <svg viewBox="0 0 32 32">
          <path d="M17.7 29.2H22c.6 0 1 .4 1 1s-.4 1-1 1H10c-.6 0-1-.4-1-1s.4-1 1-1h4.3C11.3 25.4 5 17.1 5 12.4 5 6.2 9.9 1.2 16 1.2s11 5 11 11.2c0 4.7-6.3 13-9.3 16.8zM16 3.2c-5 0-9 4.2-9 9.4s9 15.6 9 15.6 9-10.4 9-15.6c0-5.2-4-9.4-9-9.4zm-5 9c0-2.8 2.2-5 5-5s5 2.2 5 5-2.2 5-5 5-5-2.3-5-5zm8 0c0-1.7-1.3-3-3-3s-3 1.3-3 3 1.3 3 3 3 3-1.4 3-3z"></path>
        </svg>
      </div>
      <div class="address__list-item-content">
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Số điện thoại
          </div>
          <div class="address__list-item-content-phone">
            {{ item.phone }}
          </div>
        </div>
        <div class="address__list-item-content-grid">
          <div class="address__list-item-content-label">
            Địa chỉ
          </div>
          <div class="address__list-item-content-address">
            <p>
              {{ item.address }}
            </p>
          </div>
        </div>
      </div>
      <div class="address__list-item-action">
        <div class="address__list-item-action-edit" data-bs-toggle="modal" [attr.data-bs-target]="'#address-patch'+ i" [attr.aria-controls]="'#address-patch'+ i">Sửa</div>
        <div class="address__list-item-action-delete" data-bs-toggle="modal" data-bs-target="#address-delete" (click)="handlerDeleteAddress(item)">Xóa</div>
      </div>
    </div>

  </div>
</div>

<!-- Address patch -->
<div *ngFor="let item of shop.address;index as i">
  <div class="modal mdl"  [attr.id]="'address-patch'+i" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <form #changeAddress="ngForm" (ngSubmit)="handlerPatchAddress(changeAddress.value,i)" class="modal-content mdl-container">

        <div class="modal-header">
          <h5 class="modal-title">Sửa địa chỉ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="address-edit__info">

            <div class="address-edit__item" style="display:none">
              <label for="user-address" class="address-edit__item-label">
               Id
              </label>
              <input id="user-address" type="text" name="_id" [(ngModel)]="item._id" class="form-control address-edit__item-input" placeholder="Nhập số điện thoại của địa chỉ" />
            </div>

            <div class="address-edit__item">
              <label for="user-address" class="address-edit__item-label">
                Số điện thoại
              </label>
              <input id="user-address" type="text" name="phone" [(ngModel)]="item.phone" class="form-control address-edit__item-input" placeholder="Nhập số điện thoại của địa chỉ" />
            </div>

            <div class="address-edit__item">
              <label for="detail-address" class="address-edit__item-label">
                Địa chỉ
              </label>
              <input type="text" id="detail-address" aria-label="detail-address" name="address" [(ngModel)]="item.address" class="form-control address-edit__item-input" placeholder="Số nhà , phố phường , thành phố , tỉnh ...">
            </div>

            <div class="address-edit__item">
              <div class="address-edit__item-location">
                <label class="address-edit__item-label">
                  Tọa độ của shop
                </label>
                <div class="address__help-modal" data-bs-toggle="modal" data-bs-target="#address-help">
                  <i class="address__help-modal-icon fa fa-question-circle"></i>
                  <div class="address__help-modal-title">Click vào để xem hướng dẫn cách lấy địa chỉ</div>
                </div>
              </div>

              <label for="location-address" class="address-edit__item-label">
                Vĩ độ
              </label>
              <input type="text" id="lat-address" name="lat" [(ngModel)]="item.lat" class="form-control address-edit__item-input" placeholder="Nhập vĩ độ đã lấy từ hướng dẫn (LATITUDE)">

              <label for="location-address" class="address-edit__item-label">
                Kinh độ
              </label>
              <input type="text" id="lng-address" name="lng" [(ngModel)]="item.lng" class="form-control address-edit__item-input" placeholder="Nhập kinh độ đã lấy từ hướng dẫn (LONGITUDE)">
            </div>


            <div class="address-edit__item ">
              <div class="address-check-group">
                <div class="mb-3 address-check-item form-check">
                  <input type="checkbox" class="form-check-input address-check-input" id="exampleCheck1">
                  <label class="form-check-label address-check-label" for="exampleCheck1">Đặt làm địa chỉ mặc định</label>
                </div>
                <div class="mb-3 address-check-item form-check">
                  <input type="checkbox" class="form-check-input address-check-input" id="exampleCheck2">
                  <label class="form-check-label address-check-label" for="exampleCheck2">Đặt làm địa chỉ lấy hàng</label>
                </div>
                <div class="mb-3 address-check-item form-check">
                  <input type="checkbox" class="form-check-input address-check-input" id="exampleCheck3">
                  <label class="form-check-label address-check-label" for="exampleCheck3">Đặt làm địa chỉ trả hàng</label>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Sửa địa chỉ</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade mdl mdl-help" id="address-help" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content mdl-container">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hướng dẫn cách lấy địa chỉ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="address-step">

          <div class="address-step-order">
            <p class="address-step-order-label">
              <b style="font-size: 18px;">Bước 1:</b> Hãy truy cập vào <a href="https://www.google.com/maps/" target="_blank">google.com/maps</a>
            </p>
          </div>

          <div class="address-step-order">
            <p class="address-step-order-label">
              <b style="font-size: 18px;">Bước 2:</b> Nhập địa chỉ mà bạn muốn thêm cho shop
            </p>
            <img src="../../../../assets/googlemap-address.png" alt="site_google-map" class="address-step-order-image">
          </div>

          <div class="address-step-order">
            <p class="address-step-order-label">
              <b style="font-size: 18px;">Bước 3:</b> Sau khi nhập địa chỉ , ta hãy lấy tọa độ để có thể thêm địa chỉ mới
            </p>
            <img src="../../../../assets/help-location.png" alt="site_google-map" class="address-step-order-image">
          </div>

          <div class="address-step-order">
            <p class="address-step-order-label">
              <b style="font-size: 18px;">Bước 4:</b> Khi đã lấy được tọa độ thì có thể tiến hành thêm địa chỉ mới cho shop
            </p>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đã hiểu</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="address-delete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa địa chỉ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn muốn xóa địa chỉ này của shop ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <!-- <button type="button" class="btn btn-primary" (click)="handlerDeleteAddress(shop.address)">Xóa địa chỉ</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal mdl" id="address-post" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content mdl-container">
      <div class="modal-header">
        <h5 class="modal-title">Thêm địa chỉ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="address-edit__info">

          <div class="address-edit__item">
            <label for="user-address" class="address-edit__item-label">
              Số điện thoại
            </label>
            <input value="" id="user-address" type="text" [(ngModel)]="address.phone" class="form-control address-edit__item-input" placeholder="Nhập số điện thoại của địa chỉ" />
          </div>

          <div class="address-edit__item">
            <label for="detail-address" class="address-edit__item-label">
              Địa chỉ
            </label>
            <input type="text" id="detail-address" aria-label="detail-address" [(ngModel)]="address.address" class="form-control address-edit__item-input" placeholder="Số nhà , phố phường , thành phố , tỉnh ...">
          </div>

          <div class="address-edit__item">
            <div class="address-edit__item-location">
              <label class="address-edit__item-label">
                Tọa độ của shop
              </label>
              <div class="address__help-modal" data-bs-toggle="modal" data-bs-target="#address-help">
                <i class="address__help-modal-icon fa fa-question-circle"></i>
                <div class="address__help-modal-title">Click vào để xem hướng dẫn cách lấy địa chỉ</div>
              </div>
            </div>

            <label for="location-address" class="address-edit__item-label">
              Vĩ độ
            </label>
            <input type="text" id="lat-address" [(ngModel)]="address.lat" class="form-control address-edit__item-input" placeholder="Nhập vĩ độ đã lấy từ hướng dẫn (LATITUDE)">

            <label for="location-address" class="address-edit__item-label">
              Kinh độ
            </label>
            <input type="text" id="lng-address" [(ngModel)]="address.lng" class="form-control address-edit__item-input" placeholder="Nhập kinh độ đã lấy từ hướng dẫn (LONGITUDE)">
          </div>


          <div class="address-edit__item ">
            <div class="address-check-group">
              <div class="mb-3 address-check-item form-check">
                <input type="checkbox" class="form-check-input address-check-input" id="exampleCheck1">
                <label class="form-check-label address-check-label" for="exampleCheck1">Đặt làm địa chỉ mặc định</label>
              </div>
              <div class="mb-3 address-check-item form-check">
                <input type="checkbox" class="form-check-input address-check-input" id="exampleCheck2">
                <label class="form-check-label address-check-label" for="exampleCheck2">Đặt làm địa chỉ lấy hàng</label>
              </div>
              <div class="mb-3 address-check-item form-check">
                <input type="checkbox" class="form-check-input address-check-input" id="exampleCheck3">
                <label class="form-check-label address-check-label" for="exampleCheck3">Đặt làm địa chỉ trả hàng</label>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="handlerInsertAddress()">Thêm địa chỉ</button>
      </div>
    </div>
  </div>
</div>


