
<div class="layout-newfeed container">
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollUpDistance]="1.5"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()"
    >
    <div class="group-product-shop" *ngFor="let item of thamSo.listNewfeed; let i = index">
        <div class="header-newfeed">
            <div>
                <img *ngIf="item.shopId.image" class="image-newfeed-header" src="{{ item.shopId.image }}" alt="">
                <img *ngIf="!item.shopId.image" class="image-newfeed-header" src="../../assets/avt.jpg" alt="">
            </div>
            <div class="mt-1 ms-2">
                <div style="font-family: 'Nunito Sans', sans-serif; font-size: 1.1rem;">{{ item.shopId.name }}</div>
                <div style="font-size: .9rem;">{{ item.shopId.createTime }}</div>
            </div>
        </div>
        <div class="body-newfeed">
            <div class="pb-3">{{ item.description }}</div>
            <div class="hover-detail">
                <img class="image-newfeed-body" src="{{ item.image[0] }}" alt="">
                <div class="title-new-product">
                    Mới nhất
                </div>
                <div (click)="handlerModal(i)" data-bs-toggle="modal" data-bs-target="#show-product">
                    <i class="fa fa-eye icon-eye"></i>
                </div>
            </div>
            <div class="newfeed-react">
                <div>
                    <i class="fa fa-heart text-danger"
                    style="font-size: 22px; cursor: pointer;"></i>
                    <span class="ms-1" style="font-family: 'Nunito Sans', sans-serif; font-size: 17px;">{{ item.like }} lượt</span>
                </div>
                <div class="ms-4">
                    <i class="fa fa-comments-o"
                    style="font-size: 22px; cursor: pointer; color: #323232;"></i>
                    <span class="ms-1" style="font-family: 'Nunito Sans', sans-serif; font-size: 17px;">{{ item.comment }} lượt</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between pt-3">
            <div>Sản phẩm: {{ item.name }}</div>
            <div>Giá: {{ item.price | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</div>
        </div>
    </div>
    <div *ngIf="loading">
        <div class="group-product-shop">
            <div class="header-newfeed">
                <div class="effect-skeleton" style="width: 58px; height: 55px; border-radius: 50%; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
                <div class="mt-3 ms-2">
                    <div class="effect-skeleton" style="background-color: #e2e2e2; width: 100px; height: 12px; border-radius: 20px;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                    <div class="effect-skeleton" style="background-color: #e2e2e2; width: 70px; height: 8px; border-radius: 20px; margin-top: .5rem;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="effect-skeleton" style="background-color: #e2e2e2; width: 100%; height: 100px; margin-top: 1rem;">
                <div class="shimmer-wrapper">
                    <div class="shimmer"></div>
                </div>
            </div>
            <div class="newfeed-react">
                <div class="effect-skeleton" style="background-color: #e2e2e2; width: 100px; height: 12px; border-radius: 20px;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
                <div class="effect-skeleton ms-4" style="background-color: #e2e2e2; width: 100px; height: 12px; border-radius: 20px;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</div>

<app-modal [product]="product"></app-modal>
