<div>
    <app-query [filter]="filter" [filterOrder]="filterOrder"></app-query>

    <div class="content-product-wrap-table container">
        <table class="content-product-table">
            <thead>
                <th>Mã hóa đơn</th>
                <th>Tên shop</th>
                <th>Tổng tiền</th>
                <th>Tình trạng</th>
                <th>Thanh toán</th>
                <th>Ngày đặt hàng</th>
                <th>Hành động</th>
            </thead>
            <tbody *ngFor="let item of order;index as i;">
                <tr>
                    <td>{{item._id}}</td>
                    <td>
                        <a [routerLink]="['/shop/{{item.shopId._id}}']">{{item.shopId.name}}</a>
                    </td>
                    <td>{{ item.total| currency:'VND':'VNĐ':'1.0-0':'vi-VN'}}</td>
                    <td>
                        <div *ngIf="item.status === '1'">Đang xử lý</div>
                        <div *ngIf="item.status === '2'">Đã xác nhận</div>
                        <div *ngIf="item.status === '3'">Đang vận chuyển</div>
                        <div *ngIf="item.status === '4'">Hoàn thành</div>
                        <div *ngIf="item.status === '5'">Đã hủy</div>
                    </td>
                    <td>{{item.payId.name }}</td>
                    <td>{{ item.createTime }}</td>

                    <td>
                        <div class="content-product-table-action">
                            <button [routerLink]="['/user/order/detail/'+item._id]" class="content-product-table-btn btn-primary">Chi tiết</button>
                        </div>
                        <div class="content-product-table-action">
                            <button class="content-product-table-btn btn-danger">Hủy</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-3">
        <app-pagination [itemLength]="orderLength" [filter]="filter"></app-pagination>
    </div>


</div>