<div class="layout-lucky container">
    <div class="grid-layout-lucky">
        <div class="lucky">
            <div>
                <button class="spin" *ngIf="spin === 1" (click)="startLucky()">Quay</button>
                <button class="spin active" *ngIf="spin === 0" (click)="resetLucky()">Lại</button>
                <span class="arrow"></span>
                <div class="lucky-implement" #lucky>
                    <div *ngFor="let item of thamSo.listTick; let i = index" 
                        [ngClass]="i === 0 ? 'one' : 
                            (i === 1 ? 'two' : 
                            (i == 2 ? 'three' : 
                            (i === 3 ? 'four' : 
                            (i === 4 ? 'five' : 
                            (i === 5 ? 'six' : 
                            (i === 6 ? 'seven' : 'eight'))))))">
                        <span class="detail-ticket-lucky">{{ item.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="award-lucky">
            <div class="header-award-lucky">
                <div>Lưu ý: Mỗi lần quay sẽ mất 500 điểm</div>
                <div>Bạn có {{ user.score }} điểm</div>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên Ticket</th>
                            <th>Mô tả</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of user.ticket; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.tickId.name }}</td>
                            <td>{{ item.tickId.description }}</td>
                            <td *ngIf="item.status">Đã sử dụng</td>
                            <td *ngIf="!item.status">Chưa sử dụng</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
            <div id="liveToast" [ngClass]="showToast ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Thông báo</strong>
              </div>
              <div class="toast-body">
                {{ messToast }}
              </div>
            </div>
        </div>
    </div>
</div>
