<div class="layout-lucky container">
    <div class="grid-layout-lucky">
        <div class="lucky">
            <div>
                <button id="spin" (click)="startLucky()">Spin</button>
                <span class="arrow"></span>
                <div class="lucky-implement" #lucky>
                    <div class="one" data-cell>1</div>
                    <div class="two" data-cell>2</div>
                    <div class="three" data-cell>3</div>
                    <div class="four" data-cell>4</div>
                    <div class="five" data-cell>5</div>
                    <div class="six" data-cell>6</div>
                    <div class="seven" data-cell>7</div>
                    <div class="eight" data-cell>8</div>
                </div>
            </div>
        </div>
        <div class="award-lucky">

        </div>
    </div>
</div>