<div class="layout-list-voucher">
    <app-query [filterOrder]="filterOrder" [filter]="filter"></app-query>
    <div class="container row scrollVoucher">
        <div class="col-12 col-lg-6 my-3 content-voucher" *ngFor="let item of ticket">
            <mat-card class="example-card">
                <div class="d-flex">
                    <div class="image-voucher">
                        <img mat-card-md-image src="../../../../assets/ticket.png">
                    </div>
                    <div class="title-voucher mt-2 ms-3 d-flex flex-column">
                        <mat-card-title class="title">
                            {{item.tickId.description}}
                        </mat-card-title>
                        <div>
                            <span [ngClass]="item.status?'ticket unactive':'ticket active'">{{item.status?'Đã sử dụng':'Chưa sử dụng'}}</span>
                        </div>
                        <div class="date-inspire mt-2">Tất cả hình thức thanh toán</div>
                        <div class="date-inspire">Hạn sử dụng: Không thời hạn</div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>