/* tabs */

.tabs{
  background-color: white;
  display: flex;
  padding: 0 24px;
  align-items: center;
  justify-content: space-evenly;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  outline: none;
}

.tabs__tab{
  padding: 14px 24px;
  cursor: pointer;
}

.tabs__tab-active{
  color: #1A94FF;
  border-bottom: 3px solid #1A94FF;
}

.tabs__tab-active a{
  color: #1A94FF;
}

.tabs__tab-link{
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

.tabs__tab:hover a{
  color: #1A94FF;
  cursor: pointer;
}
