
<div>
    <h2>Thống kê dữ liệu</h2>
    <div class="d-flex">
        <div style="margin-top: 1.3rem;">Vui lòng chọn phương thức thống kê:</div>
        <div class="d-flex mt-3 ms-3 justify-content-between w-25">
            <div class="d-flex" style="cursor: pointer;" (click)="handlerChecking(1)">
                <i [ngClass]="checking === 1 ? 'fa fa-dot-circle-o' : 'fa fa-circle-o'" style="font-size: 24px; color: #1A94FF;"></i>
                <div class="ms-1" style="font-size: 1.1rem; margin-top: .2rem;">Ngày</div>
            </div>
            <div class="d-flex" style="cursor: pointer;" (click)="handlerChecking(2)">
                <i [ngClass]="checking === 2 ? 'fa fa-dot-circle-o' : 'fa fa-circle-o'" style="font-size: 24px; color: #1A94FF;"></i>
                <div class="ms-1" style="font-size: 1.1rem; margin-top: .2rem;">Tháng</div>
            </div>
            <div class="d-flex" style="cursor: pointer;" (click)="handlerChecking(3)">
                <i [ngClass]="checking === 3 ? 'fa fa-dot-circle-o' : 'fa fa-circle-o'" style="font-size: 24px; color: #1A94FF;"></i>
                <div class="ms-1" style="font-size: 1.1rem; margin-top: .2rem;">Năm</div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="d-flex mt-3" style="width: 220px;">
            <div class="mt-2 w-100" style="font-size: 1rem;">Chọn ngày: </div>
            <select class="form-select" [(ngModel)]="getDay" [disabled]="checking === 2 || checking === 3">
                <option *ngFor="let item of day" value="{{ item }}" selected>{{ item }}</option>
            </select>
        </div>
        <div class="d-flex mt-3" style="width: 220px;">
            <div class="mt-2 w-100" style="font-size: 1rem;">Chọn tháng: </div>
            <select class="form-select" [(ngModel)]="getMonth" [disabled]="checking === 3">
                <option *ngFor="let item of month" value="{{ item }}" selected>{{ item }}</option>
            </select>
        </div>
        <div class="d-flex mt-3" style="width: 220px;">
            <div class="mt-2 w-100" style="font-size: 1rem;">Chọn năm: </div>
            <select class="form-select" [(ngModel)]="getYear">
                <option *ngFor="let item of year" value="{{ item }}" selected>{{ item }}</option>
            </select>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-success" (click)="handlerFilter()">Lọc Hóa Đơn</button>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary"
                [useExistingCss]="true"
                styleSheetFile="../../../../assets/print.css"
                printTitle="In Hóa Đon" 
                printSectionId="customers" 
                ngxPrint>
            Thống Kê Hóa Đơn</button>
        </div>
    </div>
</div>

<div *ngIf="thamSo.listStatistic.length === 0">
    <div class="text-center mt-5" style="font-size: 1.5rem;">Vui lòng lọc hóa đơn hợp lệ!</div>
</div>
<div *ngIf="thamSo.listStatistic.length > 0" class="content-product-wrap-table" id="customers">
    <table class="content-product-table">
      <thead>
        <th>Mã Hóa Đơn</th>
        <th>Tên Khách Hàng</th>
        <th>Phương Thức Thanh Toán</th>
        <th>Tổng Tiền</th>
        <th>Ngày Đặt Hàng</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of thamSo.listStatistic">
          <td>{{ item._id }}</td>
          <td>{{ item.userId.name }}</td>
          <td data-label="Mã sản phẩm">{{ item.payId.name }}</td>
          <td data-label="Tên sản phẩm">{{ item.total | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</td>
          <td data-label="Loại sản phẩm">{{ item.createTime }}</td>
          <td>
            <div class="content-product-table-action" [routerLink]="['/user/order/detail', item._id]">
                <button class="content-product-table-btn content-product-table-btn-detail">Chi tiết</button>
              </div>
          </td>
          
        </tr>
      </tbody>
    </table>

    <h2 class="mt-3 ps-3">Số lượng đơn hàng: {{ thamSo.listStatistic.length }}</h2>
    <h2 class="ps-3">Tổng số tiền: {{ total  | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</h2>
</div>