<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Tất cả">
        <app-list-voucher></app-list-voucher>
    </mat-tab>
    <mat-tab label="Shop">
        <app-list-voucher></app-list-voucher>
    </mat-tab>
    <mat-tab label="Social">
        <app-list-voucher></app-list-voucher>
    </mat-tab>
    <mat-tab label="Đã sử dụng">
        <app-list-voucher></app-list-voucher>
    </mat-tab>
    <mat-tab label="Đã hết hạng">
        <app-list-voucher></app-list-voucher>
    </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
