
<div class="layout-chat container">
    <div class="group-chat">
        <div class="title-chat">
            <h6><i class="fa fa-bell-o"></i> Tất cả tin nhắn</h6>
        </div>
        <div class="grid-chat">
            <div class="list-chats">
                <div *ngFor="let item of client.room; let i = index" 
                    [ngClass]="shop._id === item.shopId._id ? 'box-chats active' : 'box-chats'" 
                    (click)="activeShop(item, item._id, item.checkingId._id, i)">
                    <a>
                        <img *ngIf="!item.shopId.image" class="image-box-chat" src="../../../assets/avt.jpg" />
                        <img *ngIf="item.shopId.image" class="image-box-chat" src="{{ item.shopId.image }}" alt="">
                    </a>
                    <div class="mt-1 ms-2 w-75" style="position: relative;">
                        <div style="font-family: 'Nunito Sans', sans-serif;">{{ item.shopId.name }}</div>
                        <div *ngIf="item.active === true" class="d-flex" style="color: gray;">
                            <div class="bg-success" style="width: 12px; height: 12px; border-radius: 50%; margin-top: .1rem;"></div> &nbsp;
                            Đang hoạt động
                        </div>
                        <div *ngIf="!item.active" class="d-flex" style="color: gray;">
                            <div class="bg-secondary" style="width: 12px; height: 12px; border-radius: 50%; margin-top: .1rem;"></div> &nbsp;
                            Không hoạt động
                        </div>
                        <div *ngIf="item.checkingId.noticeShop > 0" class="count-message">{{ item.checkingId.noticeShop }}</div>
                    </div>
                </div>
                <div *ngIf="client.room.length === 0">
                    <div *ngFor="let item of [0, 1, 2, 3, 4]" class="d-flex mt-3">
                        <div class="effect-skeleton" style="width: 65px; height: 65px; background-color: #e2e2e2; border-radius: 50%;">
                            <div class="shimmer-wrapper">
                                <div class="shimmer"></div>
                            </div>
                        </div>
                        <div class="mt-1 ms-2">
                            <div class="effect-skeleton mt-2" style="width: 150px; height: 15px; background-color: #e2e2e2; border-radius: 10px;">
                                <div class="shimmer-wrapper">
                                    <div class="shimmer"></div>
                                </div>
                            </div>
                            <div class="effect-skeleton mt-2" style="width: 90px; height: 13px; background-color: #e2e2e2; border-radius: 10px;">
                                <div class="shimmer-wrapper">
                                    <div class="shimmer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-messages d-flex justify-content-center align-items-center" *ngIf="!shop._id">
                <div class="text-center">
                    <i class="fa fa-send border-send-message" style="font-size: 60px;"></i>
                    <div class="mt-3" style="font-size: 1.5rem;">Tin nhắn của bạn</div>
                    <div class="mt-2">Vui lòng chọn cửa hàng bạn muốn nhắn tin!</div>
                </div>
            </div>
            <div class="list-messages" *ngIf="shop._id">
                <div class="header-list-message">
                    <a [routerLink]="['/shop', shop._id]">
                        <img *ngIf="!shop.image" class="image-box-chat" src="../../../assets/avt.jpg" />
                        <img *ngIf="shop.image" class="image-box-chat" src="{{ shop.image }}" alt="">
                    </a>
                    <div class="mt-1 ms-2">
                        <div style="font-family: 'Nunito Sans', sans-serif;">{{ shop.name }}</div>
                        <div *ngIf="shop.active === true" class="d-flex" style="color: gray;">
                            <div class="bg-success" style="width: 12px; height: 12px; border-radius: 50%; margin-top: .1rem;"></div> &nbsp;
                            Đang hoạt động
                        </div>
                        <div *ngIf="!shop.active" class="d-flex" style="color: gray;">
                            <div class="bg-secondary" style="width: 12px; height: 12px; border-radius: 50%; margin-top: .1rem;"></div> &nbsp;
                            Không hoạt động
                        </div>
                    </div>
                </div>
                <div class="body-list-message" #scrollbottom>
                    <div *ngFor="let item of room.message">
                        <div [ngClass]="item.subjectId === client._id ? 'group-message-send' : 'group-message-receive'">
                            <div class="message">
                                <div [ngClass]="item.subjectId === client._id ? 'message-send' : 'message-receive'">
                                    {{ item.message }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-message">
                    <div class="w-100" style="margin-top: .8rem;">
                        <!-- (ngModelChange)="typingMessage()" -->
                        <input 
                            [(ngModel)]="message"
                            value="message" class="input-send-message" type="text" 
                            placeholder="Nhập tin nhắn ở đây!"
                            (keyup.enter)="onEnter()">
                    </div>
                    <div *ngIf="message" class="btn-send-message" (click)="sendMessage()">
                        <i class="fa fa-send active"></i>
                    </div>
                    <div *ngIf="!message" class="btn-send-message">
                        <i class="fa fa-send unactive"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
