

<div class="layout-cart container">
  <div class="group-my-cart">
        <div class="header-cart">
                <div class="name-header-cart">Giỏ hàng của bạn</div>
                <div *ngIf="anotherRoom.fullname && myCarts.length > 0" (click)="verifyCartAnother()" class="btn-order-cart mt-2">
                    Xác Nhận Giao Dịch
                </div>
                <div *ngIf="!user._id && myCarts.length === 0" class="btn-order-cart unactive mt-2">
                    Xác Nhận Giao Dịch
                </div>
        </div>
        <div class="body-cart" *ngIf="myCarts.length === 0">
            <div class="text-center" style="font-size: 1.2rem;">
                <div class="bg-cart-empty"></div>
                Giỏ hàng chưa có sản phẩm!
            </div>
        </div>
        <div class="body-cart" *ngIf="myCarts.length > 0">
            <table>
                <thead>
                    <tr>
                        <th>Tên cửa hàng</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Kích Thước</th>
                        <th>Số lượng</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let item of myCarts; index as i">
                            <td>{{ item.shopId.name }}</td>
                            <td [routerLink]="['/detail', item.productId]" style="cursor: pointer;">
                                <img class="img-body-cart" src="{{ item.image }}" alt="">&nbsp; {{ item.name }}
                            </td>
                            <td>{{ item.price | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</td>
                            <td>{{ item.size }}</td>
                            <td>
                                <input (change)="handlerUpdate(item.cartId)"
                                    class="input-count-cart"
                                    id="{{ item.cartId }}"
                                    type="number"
                                    value="{{ item.count }}"
                                    max="20" min="1">
                            </td>
                            <td><i class="fa fa-trash padding-icon-cart" (click)="handlerDelete(i)"></i></td>
                        </tr>
                </tbody>
            </table>
        </div>
  </div>
  <div class="group-another-cart">
        <div class="header-cart">
                <div class="name-header-cart">Giỏ hàng giao dịch</div>
                <div (click)="checkingCartShare()" class="padding-icon-cart">
                    <i class="fa fa-gear icon-profile" style="font-size: 28px;"></i>
                </div>
        </div>
        <div class="body-cart" *ngIf="anotherCarts.length === 0">
            <div class="text-center" style="font-size: 1.2rem;">
                <div class="bg-cart-empty"></div>
                Giỏ hàng chưa có sản phẩm!
            </div>
        </div>
        <div class="body-cart" *ngIf="anotherCarts.length > 0">
            <table>
                <thead>
                    <tr>
                        <th>Người giao dịch</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Kích Thước</th>
                        <th>Số lượng</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of anotherCarts; index as i">
                        <td>{{ item.fullname }}</td>
                        <td [routerLink]="['/detail', item.productId]" style="cursor: pointer;">
                            <img class="img-body-cart" src="{{ item.image }}" alt="">&nbsp; {{ item.name }}
                        </td>
                        <td>{{ item.price | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</td>
                        <td>{{ item.size }}</td>
                        <td>{{ item.count }}</td>
                        <td><i class="fa fa-trash padding-icon-cart" (click)="handlerDeleteAnother(i)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  <div class="group-ticket-cart">
      <div class="header-cart">
          <div class="name-header-cart">Khuyến mãi</div>
      </div>
      <div class="body-ticket-cart">
          <div class="left-body-ticket">Áp dụng mã ticket: </div>
          <div class="d-flex">
              <div><img *ngIf="ticket._id" class="icon-ticket" src="../../../assets/ticket.png" alt=""></div>
              <div class="center-body-ticket">
                  <div *ngIf="ticket._id">{{ ticket.tickId.description }}</div>
                  <div *ngIf="ticket._id" class="mt-1"><span class="ticket active">Đã áp dụng</span></div>
              </div>
              <!-- <div class="mt-3">Bạn chưa chọn Ticket</div> -->
          </div>
          <div class="mt-3">
              <span style="color: #1A94FF; cursor: pointer;"
                  data-bs-toggle="modal" data-bs-target="#choose-ticket">Chọn Ticket</span>
          </div>
      </div>

      <div class="modal fade" id="choose-ticket" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Chọn Social Ticket</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div class="list-order-ticket">
                          <div class="warning-info-ticket">Vui lòng chọn một mã Ticket bất kì</div>
                          <div *ngFor="let item of user.ticket; let i = index">
                          <div *ngIf="!item.status" (click)="handlerActiveTick(i)"
                          [ngClass]="i === activeTick ? 'box-order-ticket active' : 'box-order-ticket'">
                              <div><img class="icon-ticket" src="../../../assets/ticket.png" alt=""></div>
                              <div class="center-body-ticket">
                                  <div>{{ item.tickId.description }}</div>
                                  <div class="mt-1">
                                      <span *ngIf="!item.status" class="ticket active">Chưa sử dụng</span>
                                      <span *ngIf="item.status" class="ticket unactive">Đã sử dụng</span>
                                  </div>
                              </div>
                          </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <div
                          class="btn-click-ticket" (click)="applyTicket()"
                          data-bs-dismiss="modal" aria-label="Close">
                          Áp dụng
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="group-order-cart">
      <div>
          <div class="body-order-coupon">
              <h1 class="name-header-cart">Mã Giảm Giá</h1>
              <input class="input-order-coupon" [(ngModel)]="code" type="text" placeholder="Nhập mã giảm giá">
              <div>
                  <div class="btn-order-cart" (click)="applyCoupon()">Áp dụng</div>
              </div>
              <div class="text-danger pt-3 pb-1">Lưu ý: Có thể áp dụng nhiều mã khuyến mãi khác nhau</div>
          </div>
      </div>
      <div class="body-order-cart">
          <h4 class="h4-order-cart">Tiến hành thanh toán</h4>
          <div class="detail-order-cart">
              <div>Thành Tiền</div>
              <div style="font-family: 'Nunito Sans', sans-serif">{{ totalPayment.total | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</div>
          </div>
          <div class="detail-order-cart" style="cursor: pointer;" data-bs-toggle="collapse" href="#showPromotion" aria-controls="showPromotion">
              <div>
                  Giảm giá
                  <i class="fa fa-chevron-down"></i>
              </div>
              <div style="font-family: 'Nunito Sans', sans-serif">
                  {{ totalPayment.total - totalPayment.payment | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}

              </div>
          </div>
          <div *ngIf="ticket._id || coupon" class="collapse" id="showPromotion">
              <div *ngIf="ticket._id" class="d-flex justify-content-between p-2">
                  <div class="d-flex">
                      <div><img class="icon-ticket" src="../../../assets/ticket.png" alt=""></div>
                      <div class="center-body-ticket">
                          <div *ngIf="ticket._id">Giảm giá {{ ticket.tickId.value }}%</div>
                          <div *ngIf="ticket._id" class="mt-1"><span class="ticket active">Đã áp dụng</span></div>
                      </div>
                  </div>
                  <div class="text-danger mt-3">
                      <span style="cursor: pointer;" (click)="cancelTicket()">Hủy</span>
                  </div>
              </div>
              <div *ngFor="let item of coupon" class="d-flex justify-content-between p-2">
                  <div class="d-flex">
                      <div><img class="icon-ticket" src="https://salt.tikicdn.com/cache/128x128/ts/upload/7c/57/4c/e812788b606b9efaa0b118fd85e79490.jpg" alt=""></div>
                      <div class="center-body-ticket">
                          <div *ngIf="item._id">Shop {{ item.shopId.name  }}</div>
                          <div *ngIf="item._id">Giảm giá {{ item.discount | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</div>
                          <div *ngIf="item._id" class="mt-1"><span class="ticket active">Mã: {{ item.code }}</span></div>
                      </div>
                  </div>
                  <div class="text-danger mt-3">
                      <span style="cursor: pointer;" (click)="cancelCoupon(item._id)">Hủy</span>
                  </div>
              </div>
          </div>
          <div class="detail-order-cart" style="font-family: 'Nunito Sans', sans-serif; font-size: 1.2rem;">
              <div>Tổng tiền</div>
              <div>{{ totalPayment.payment | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</div>
          </div>
          <div (click)="handlerOrder()" class="btn-order-cart">
              Đặt Hàng
          </div>
      </div>
  </div>
</div>

<div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
  <div id="liveToast" [ngClass]="toastSuccess ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Thông báo</strong>
    </div>
    <div class="toast-body">
      Bạn đã cập nhật giỏ hàng thành công.
    </div>
  </div>
</div>
<div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
  <div id="liveToast" [ngClass]="toastFail ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-danger">
      <strong class="me-auto">Thông báo</strong>
    </div>
    <div class="toast-body">
      Không thể thực hiện thao tác này!
    </div>
  </div>
</div>
<div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
  <div id="liveToast" [ngClass]="toastCoupon ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-danger">
      <strong class="me-auto">Thông báo</strong>
    </div>
    <div class="toast-body">
      Không thể sử dụng mã khuyến mãi này!
    </div>
  </div>
</div>
<div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
  <div id="liveToast" [ngClass]="toastErrorVerify ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-danger">
      <strong class="me-auto">Thông báo</strong>
    </div>
    <div class="toast-body">
        Đơn hàng không thể vượt quá giới hạn!
    </div>
  </div>
</div>
<div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
  <div id="liveToast" [ngClass]="errorMessage ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-danger">
      <strong class="me-auto">Thông báo</strong>
    </div>
    <div class="toast-body">
        Số lượng sản phẩm vượt quá giới hạn!
    </div>
  </div>
</div>
<div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
  <div id="liveToast" [ngClass]="toastPromotion ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success">
      <strong class="me-auto">Thông báo</strong>
    </div>
    <div class="toast-body">
      Sử dụng khuyến mãi thành công!.
    </div>
  </div>
</div>
<div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
  <div id="liveToast" [ngClass]="toastVerifyAnother ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success">
      <strong class="me-auto">Thông báo</strong>
    </div>
    <div class="toast-body">
      Xác nhận đơn hàng thành công!.
    </div>
  </div>
</div>
