
<div class="layout-checkout container">
    <div class="checkout-address">
        <div class="color-checkout-address">
            <i class="fa fa-map-marker" style="font-size: 30px;"></i>
            Địa chỉ nhận hàng
        </div>
        <div class="flex-checkout-address">
            <div style="font-family: 'Nunito Sans', sans-serif; font-size: 1.2rem;">
                <div>Nguyễn Kim Tiền</div>
                <div>07 6355 7366</div>
            </div>
            <div style="font-size: 1.1rem;">102 Nguyễn Thị Định, Phường Nguyễn Văn Cừ, Phường Nguyễn Văn Cừ, Thành Phố Quy Nhơn, Bình Định</div>
            <div style="font-size: 1.1rem; color: blue;">Thay đổi</div>
        </div>
    </div>
    <div class="checkout-product">
        <div style="font-family: 'Nunito Sans', sans-serif; font-size: 1.4rem;">Sản phẩm</div>
        <div class="body-cart" *ngFor="let item of myCarts; index as i">
            <table>
                <thead>
                    <tr>
                        <th><i class="fa fa-institution"></i> {{ item.shopId.name }}</th>
                        <th>Kích thước</th>
                        <th>Đơn giá</th>
                        <th>Số lương</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="img-body-cart" src="{{ item.image }}" alt=""> &nbsp; {{ item.name }}</td>
                        <td>{{ item.size }}</td>
                        <td>{{ item.price | currency: 'VND' }}</td>
                        <td>{{ item.count }}</td>
                        <td style="font-family: 'Nunito Sans', sans-serif">{{ item.price * item.count | currency: 'VND' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="checkout-payment">
        <div class="header-checkout-payment">
            <div style="font-family: 'Nunito Sans', sans-serif; font-size: 1.4rem; margin-top: .6rem;">Phương thức thanh toán: </div>
            <div [ngClass]="activePayment === 0 ? 'payment-border active' : 'payment-border'" 
                (click)="changePayment(0)">Paypal</div>
            <div [ngClass]="activePayment === 1 ? 'payment-border active' : 'payment-border'" 
                (click)="changePayment(1)">Khi nhận hàng</div>
        </div>
        <div class="body-checkout-payment">
            <div *ngIf="ticket._id || coupon" class="width-promotion">
                <h4 class="h4-order-cart">Các khuyến mãi đã áp dụng</h4>
                <div *ngIf="!ticket._id || !coupon">
                    <div>Không có áp dụng khuyến mãi</div>
                </div>
                <div *ngIf="ticket._id" class="d-flex justify-content-between p-2">
                    <div class="d-flex">
                        <div><img class="icon-ticket" src="../../../assets/ticket.png" alt=""></div>
                        <div class="center-body-ticket ms-2 mt-1">
                            <div *ngIf="ticket._id">Giảm giá {{ ticket.tickId.value }}%</div>
                            <div *ngIf="ticket._id" class="mt-1"><span class="ticket active">Đã áp dụng</span></div>
                        </div>
                    </div>
                    <div class="text-danger mt-3">
                        <span style="cursor: pointer;" (click)="cancelTicket()">Hủy</span>
                    </div>
                </div>
                <div *ngFor="let item of coupon" class="d-flex justify-content-between p-2">
                    <div class="d-flex">
                        <div><img class="icon-ticket" src="https://salt.tikicdn.com/cache/128x128/ts/upload/7c/57/4c/e812788b606b9efaa0b118fd85e79490.jpg" alt=""></div>
                        <div class="center-body-ticket ms-2 mt-1">
                            <div *ngIf="item._id">Shop {{ item.shopId.name  }}</div>
                            <div *ngIf="item._id">Giảm giá {{ item.discount | currency: 'VND' }}</div>
                            <div *ngIf="item._id" class="mt-1"><span class="ticket active">Mã: {{ item.code }}</span></div>
                        </div>
                    </div>
                    <div class="text-danger mt-3">
                        <span style="cursor: pointer;" (click)="cancelCoupon(item._id)">Hủy</span>
                    </div>
                </div>
            </div>
            <div class="width-checkout-payment">
                <h4 class="h4-order-cart">Tiến Hành thanh toán</h4>
                <div class="mt-3 d-flex justify-content-between" style="font-size: 1rem;">Tổng tiền hàng: 
                    <span class="price-checkout">{{ totalPayment.total |  currency: 'VND' }}</span></div>
                <div class="mt-3 d-flex justify-content-between" style="font-size: 1rem;">Khuyến mãi: 
                    <span class="price-checkout">{{ totalPayment.total - totalPayment.payment |  currency: 'VND' }}</span></div>
                <div class="mt-3 d-flex justify-content-between" style="font-size: 1rem;">Phí vận chuyển: 
                    <span class="price-checkout">{{ feeShip |  currency: 'VND' }}</span></div>
                <div class="mt-3 d-flex justify-content-between" style="font-size: 1rem;">Tổng thanh toán: 
                    <span class="price-checkout" style="font-size: 1.7rem; color: #1A94FF;">{{ sumPayment |  currency: 'VND' }}</span></div>
                <div *ngIf="activePayment === 1" class="btn-checkout-payment mt-3">Thanh Toán</div>
                <div *ngIf="activePayment === 0" class="mt-3">
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
            </div>    
        </div>
    </div>
</div>
