
<div class="layout-detail-product container">
    <div class="grid-detail-product">
        <div class="group-detail-product-image">
            <div class="product-image-show">
                <div class="effect-skeleton" style="width: 423px; height: 423px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </div>
            <div class="product-image-list">
                <div class="item-product-image-list">
                    <div class="effect-skeleton" style="width: 95px; height: 95px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
                <div class="item-product-image-list">
                    <div class="effect-skeleton" style="width: 95px; height: 95px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
                <div class="item-product-image-list">
                    <div class="effect-skeleton" style="width: 95px; height: 95px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
                <div class="item-product-image-list">
                    <div class="effect-skeleton" style="width: 95px; height: 95px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-detail-product-content">
            <h3 style="text-transform: uppercase;">
                <div class="effect-skeleton" style="width: 350px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </h3>
            <div class="d-flex" style="border-bottom: 1px solid #f1f1f1; padding-bottom: 1rem;">
                <div class="price-product-detail">
                    <div class="effect-skeleton" style="width: 330px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="size pt-3">
                <div>
                    <div class="effect-skeleton" style="width: 310px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <div class="effect-skeleton" style="width: 290px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quality pt-3">
                <div class="effect-skeleton" style="width: 270px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="effect-skeleton" style="width: 250px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description pt-5">
                <div class="effect-skeleton" style="width: 230px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </div>
            <div class="description pt-5">
                <div class="effect-skeleton" style="width: 210px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </div>
            <div class="description pt-5">
                <div class="effect-skeleton" style="width: 190px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layout-section-information-shop container">
    <div class="d-flex">
        <div class="effect-skeleton" style="width: 95px; height: 95px; border-radius: 50%; background-color: #e2e2e2;">
            <div class="shimmer-wrapper">
                <div class="shimmer"></div>
            </div>
        </div>
        <div style="margin: .8rem 0 0 1rem;">
            <div class="effect-skeleton" style="width: 150px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                <div class="shimmer-wrapper">
                    <div class="shimmer"></div>
                </div>
            </div>
            <div class="d-flex mt-3" style="color: gray;">
                <div class="effect-skeleton" style="width: 100px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-3">
                <div class="effect-skeleton" style="width: 70px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-shop">
        <div class="d-flex justify-content-between w-100">
            <div class="effect-skeleton" style="width: 100px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                <div class="shimmer-wrapper">
                    <div class="shimmer"></div>
                </div>
            </div>
            <br>
            <div class="effect-skeleton" style="width: 100px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                <div class="shimmer-wrapper">
                    <div class="shimmer"></div>
                </div>
            </div>
            <br>
            <div class="effect-skeleton" style="width: 100px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                <div class="shimmer-wrapper">
                    <div class="shimmer"></div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="effect-skeleton" style="width: 100%; height: 50px; border-radius: 10px; background-color: #e2e2e2;">
                <div class="shimmer-wrapper">
                    <div class="shimmer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layout-comment-product container">
    <div class="effect-skeleton" style="width: 100%; height: 400px; border-radius: 10px; background-color: #e2e2e2;">
        <div class="shimmer-wrapper">
            <div class="shimmer"></div>
        </div>
    </div>
</div>
