<div class="layout-login">
    <div class="section-login">
        <div class="login-form my-5">
            <form>
                <h1 class="login-title font-title">Đăng nhập</h1>

                <div class="mb-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Vui lòng nhập email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Vui lòng nhập email
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="mb-2">
                    <div class="example-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Vui lòng nhập password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </div>
                        </mat-form-field>
                    </div>
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <div>Bạn chưa có tài khoản?
                        <a [routerLink]="['/register']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}" class="a-nav-link font-title">Đăng ký</a>
                    </div>
                    <div>
                        <a [routerLink]="['/forgetpassword']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}" class="a-nav-link font-title"> Quên mật khẩu</a>
                    </div>

                </div>





                <button type="submit" class="btn btn-login">Đăng nhập</button>
            </form>
        </div>
    </div>
</div>
