*{
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* Responsive */

.grid{
  width: 1500px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width{
  width: 100%;
}

.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}


.grid__column-2{
  width: 15%;
}

.grid__column-10{
  padding-left: 12px;
  padding-right: 12px;
  width: 75%;
}



/* Animation */

@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes growth {
  from{
      transform: scale(var(--growth-from));
  }
  to{
      transform: scale(var(--growth-to));
  }
}

/* Main css */


.app__container{
  background-color: #F5F5F5;
}

.app__content{
  padding-top: 36px;
  position: relative;

}

/* Side bar */

.side-bar{
  background-color: white;
  border-radius: 2px;
  padding: 0px 24px;
  position: fixed;
  left: 0;
  top: 20px;
}

.side-bar-select{
  padding-left: 12px;
}

.side-bar-options{
  list-style: none;
  padding: 5px 0px;
}

.side-bar-options-label{
  color: #999999;
  font-size: 15px;
  font-weight: 500;
}

.side-bar-list{
  padding: 0 0 8px 0;
  list-style: none;
}

.side-bar-item{

}

.side-bar-item__link{
  position: relative;
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  padding: 6px 0px;
  display: block;
  transition: right linear 0.1s;
  right: 0;
}

.side-bar-item__link:hover{
  color: #1A94FF;
  right: -4px;
}

/* Panel */

.panel-position{
  margin-top: 24px;
  margin-left: 72px;
}

.manage-panel-container{
  background-color: white;
  border-radius: 2px;
}

/* tabs & nav-tab */

.tabs{
  display: flex;
  padding: 0 24px;
  align-items: center;
  height: 56px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
}

.tabs__nav-tab{
  padding: 0 24px;
}

.tab__nav-tab-link{
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
}

.tab__nav-tab-link:hover{
  color: #1A94FF;
}

/* List panel */

.list-panel{
  padding-top: 24px;
  border: 1px solid rgb(229, 229, 229);
  height: 1000px;
}

.all-list{

}

.filter-form-box{

}

.filter-col-left{

}

/* Select input */

.select-input{
  position: relative;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: white;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.select-input__label{
  font-size: 14px;

}

.select-input:hover .select-input__list{
  display: block;
}

.select-input__list{
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  background-color: white;
  padding: 8px 16px;
  list-style: none;
  display: none;
}

/* .select-input__item{

} */

.select-input__link{
  font-size: 14px;
  color: var(--text-color);
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 6px 0;
}

.select-input__link:hover{
  color: var(--primary-color);
}

.filter-col-right{

}

