<div class="layout-detail-product container">
    <div class="grid-detail-product">
        <div class="group-detail-product-image">
            <div class="product-image-show">
                <img src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
            </div>
            <div class="product-image-list">
                <div class="item-product-image-list active">
                    <img src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                </div>
                <div class="item-product-image-list">
                    <img src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                </div>
                <div class="item-product-image-list">
                    <img src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                </div>
                <div class="item-product-image-list">
                    <img src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                </div>
            </div>
        </div>
        <div class="group-detail-product-content">
            <h3 style="text-transform: uppercase;">Áo thun Young Green Basic</h3>
            <div class="d-flex" style="border-bottom: 1px solid #f1f1f1; padding-bottom: 1rem;">
                <div class="price-product-detail">{{ 180000 | currency: "VND" }}</div>
                <del class="price-del-detail">{{ 200000 | currency: "VND" }}</del>
                <div class="percent-discount">
                    -10%
                </div>
            </div>
            <div class="size pt-3">
                <div>
                    Kích thước: &nbsp; <span style="font-family: 'Nunito Sans', sans-serif;">{{ size }}</span>
                </div>
                <div class="d-flex mt-2">
                    <div [ngClass]="size === 'S' ? 'padding-size active' : 'padding-size'" (click)="changeSize('S')">S</div>
                    <div [ngClass]="size === 'M' ? 'padding-size active' : 'padding-size'" (click)="changeSize('M')">M</div>
                    <div [ngClass]="size === 'L' ? 'padding-size active' : 'padding-size'" (click)="changeSize('L')">L</div>
                    <div [ngClass]="size === 'XL' ? 'padding-size active' : 'padding-size'" (click)="changeSize('XL')">XL</div>
                </div>
            </div>
            <div class="quality pt-3">
                <div>Số lượng:</div>
                <div class="mt-2">
                    <input class="input-detail-quality" type="number" max="10" min="1" value="{{ count }}" [(ngModel)]="count">
                </div>
            </div>
            <div class="description pt-4">
                <div>
                    Mô tả sản phẩm:
                </div>
                <div class="mt-2" style="font-family: 'Nunito Sans', sans-serif;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet hic ratione dolorem voluptatem maxime fuga in nihil autem. Culpa libero id vitae. Dolorem soluta iste exercitationem praesentium, aliquid culpa suscipit?
                </div>
            </div>
            <div class="btn-addcart mt-3">
                Mua ngay
            </div>
            <div class="count-detail-like mt-3">
                <div>
                    Số lượt thích: &nbsp; 
                    <span *ngIf="like" style="font-family: 'Nunito Sans', sans-serif;">Bạn đã thích</span>
                    <span *ngIf="!like" style="font-family: 'Nunito Sans', sans-serif;">Bạn chưa thích</span>
                </div>
                <div>
                    <i  (click)="statusLike()" 
                        [ngClass]="like ? 'fa fa-heart text-danger' : 'fa fa-heart-o text-danger'" 
                        style="font-size: 28px; cursor: pointer;"></i>
                    &nbsp;
                    <span style="font-family: 'Nunito Sans', sans-serif; font-size: 20px;">30 lượt</span>
                </div>
            </div>
        </div>
    </div>
</div>