
<div *ngIf="product.name">
    <div class="layout-detail-product container">
        <div *ngIf="product.name" class="grid-detail-product">
            <div class="group-detail-product-image">
                <div class="product-image-show">
                    <img src="{{ product.image[index] }}" alt="">
                </div>
                <div class="product-image-list">
                    <div *ngFor="let item of product.image; let i = index" 
                        [ngClass]="i === index ? 'item-product-image-list active' : 'item-product-image-list'">
                        <img src="{{ item }}" alt="" (click)="changeImage(i)">
                    </div>
                </div>
            </div>
            <div class="group-detail-product-content">
                <h3 style="text-transform: uppercase;">{{ product.name }}</h3>
                <div class="d-flex" style="border-bottom: 1px solid #f1f1f1; padding-bottom: 1rem;">
                    <div class="price-product-detail">{{ product.price - ((product.price * product.discount)/100) | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</div>
                    <del class="price-del-detail">{{ product.price | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</del>
                    <div class="percent-discount">
                        -{{ product.discount }}%
                    </div>
                </div>
                <div class="size pt-3">
                    <div class="d-flex mt-2">
                        <div class="mt-2">Kích Thước: &nbsp;</div>
                        <div *ngFor="let item of product.option" 
                            [ngClass]="size === item.size ? 'padding-size active' : 'padding-size'"
                            (click)="changeSize(item)">
                            {{ item.size }}
                        </div>
                        <div *ngIf="stock.count" class="mt-2">
                            Còn lại {{ stock.count }} sản phẩm
                        </div>
                    </div>
                </div>
                <div class="quality pt-3">
                    <div>Số lượng:</div>
                    <div class="mt-2">
                        <input class="input-detail-quality" type="number" max="10" min="1" value="{{ count }}"
                            [(ngModel)]="count">
                    </div>
                </div>
                <div class="description pt-4">
                    <div>
                        Mô tả sản phẩm:
                    </div>
                    <div class="mt-2" style="font-family: 'Nunito Sans', sans-serif;">
                        {{ product.description }}
                    </div>
                </div>
                <div *ngIf="!stock.status" class="btn-addcart mt-3" (click)="addCart()">
                    Mua ngay
                </div>
                <div *ngIf="stock.status" class="btn-addcart stock mt-3">
                    Hết hàng
                </div>
                <div class="count-detail-like mt-3">
                    <div>
                        Số lượt đánh giá: &nbsp;
                        <span style="font-family: 'Nunito Sans', sans-serif;">
                            <i class="fa fa-comments"></i>
                            {{ product.comment }} lượt
                        </span>
                    </div>
                    <div *ngIf="like !== null" class="mt-2">
                        Số lượt thích: &nbsp;
                        <span *ngIf="like" style="font-family: 'Nunito Sans', sans-serif;">Bạn đã thích</span>
                        <span *ngIf="!like" style="font-family: 'Nunito Sans', sans-serif;">Bạn chưa thích</span>
                    </div>
                    <div class="mt-2" *ngIf="like !== null">
                        <i *ngIf="like" (click)="statusDisLike()" [ngClass]="like ? 'fa fa-heart text-danger' : 'fa fa-heart-o text-danger'"
                            style="font-size: 28px; cursor: pointer;"></i>
                        <i *ngIf="!like" (click)="statusLike()" [ngClass]="!like ? 'fa fa-heart-o text-danger' : 'fa fa-heart text-danger'"
                            style="font-size: 28px; cursor: pointer;"></i>
                        &nbsp;
                        <span style="font-family: 'Nunito Sans', sans-serif; font-size: 20px;">{{ product.like }} lượt</span>
                    </div>
                    <div *ngIf="like === null">
                        <div
                            class="effect-skeleton" 
                            style="width: 160px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                            <div class="shimmer-wrapper">
                                <div class="shimmer"></div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="like === null">
                        <div
                            class="effect-skeleton mt-2" 
                            style="width: 130px; height: 20px; border-radius: 10px; background-color: #e2e2e2;">
                            <div class="shimmer-wrapper">
                                <div class="shimmer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="layout-section-information-shop container">
        <div class="d-flex">
            <img *ngIf="!product.shopId.image" class="image-infor-shop" src="../../../assets/avt.jpg" />
            <img *ngIf="product.shopId.image" class="image-infor-shop" src="{{ product.shopId.image }}" alt="">
            <div style="margin: 1rem 0 0 1rem;">
                <div style="font-family: 'Nunito Sans', sans-serif; font-size: 1.1rem;">{{ product.shopId.name }}</div>
                <div class="d-flex mt-1">
                    <div class="padding-infor-shop" data-bs-toggle="modal" data-bs-target="#chat-shop">
                        <i class="fa fa-comments"></i>
                        Chat Ngay
                    </div>
                    <div [routerLink]="['/shop', product.shopId._id]" class="ms-1 padding-infor-shop">
                        <i class="fa fa-institution"></i>
                        Xem Shop
                    </div>
                    <div [routerLink]="['/shop/address', product.shopId._id]" class="ms-1 padding-infor-shop">
                        <i class="fa fa-paper-plane"></i>
                        Chỉ Đường
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-shop">
            <div class="d-flex justify-content-between w-100">
                <div>
                    <i class="fa fa-share" style="color: #1A94FF;"></i>
                    Tỉ lệ phản hồi: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">{{ product.shopId.reply }}%</span>
                </div>
                <br>
                <div>
                    <i class="fa fa-share-square-o" style="color: #1A94FF;"></i>
                    Phản hồi: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">{{ product.shopId.replyTime }}</span>
                </div>
                <br>
                <div>
                    <i class="fa fa-calendar" style="color: #1A94FF;"></i>
                    Tham gia: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">{{ product.shopId.createTime }}</span>
                </div>
            </div>
            <div class="mt-3">
                <i class="fa fa-drivers-license" style="color: #1A94FF;"></i>
                Về chúng tôi: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">{{ product.shopId.description }}</span> 
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="chat-shop" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nhắn tin cho Shop</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="permission !== 'client'" class="text-danger">
                            Bạn không phải khách hàng nên không thể trò chuyện!
                        </div>
                        <div class="mt-4">
                            <label for="exampleFormControlTextarea1" class="form-label">Nhập tin nhắn ở đây:</label>
                            <textarea [(ngModel)]="message" name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button *ngIf="message && permission === 'client'" type="button" class="btn btn-primary" (click)="handlerSendMessage()"
                        data-bs-dismiss="modal" aria-label="Close">Gửi Tin Nhắn</button>
                        <button *ngIf="!message || permission !== 'client'" [routerLink]="['/login']"
                        data-bs-dismiss="modal" aria-label="Close"
                        type="button" class="btn btn-light">Gửi Tin Nhắn</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="layout-comment-product container">
        <div class="title-comment-product">
            <h3 style="border-bottom: 5px solid #1A94FF; padding-bottom: .5rem;">Đánh Giá Sản Phẩm</h3>
        </div>
        <div class="group-list-comment">
            <div *ngFor="let item of product.comments" class="d-flex mt-4">
                <div>
                    <img *ngIf="item.userId.image" src="{{ item.userId.image }}" 
                    style="width: 75px; height: 75px; border-radius: 50%; border: 1px solid #e2e2e2;" alt="">
                    <img *ngIf="!item.userId.image" src="../../../assets/avt.jpg" 
                    style="width: 75px; height: 75px; border-radius: 50%; border: 1px solid #e2e2e2;" alt="">
                </div>
                <div class="ms-2">
                    <div style="font-family: 'Nunito Sans', sans-serif; font-size: 1.1rem;">{{ item.userId.name }}</div>
                    <div>{{ item.content}}</div>
                    <div style="color: #1A94FF;">
                        <i *ngFor="let index of [1, 2, 3, 4, 5]" 
                        [ngClass]="index > item.star ? 'fa fa-star-o' : 'fa fa-star'"></i>
                    </div>
                    <div>{{ item.createTime}}</div>
                </div>
            </div>
        </div>
    
        <div class="btn-write-comment" data-bs-toggle="modal" data-bs-target="#write-comment">
            <div>Viết Bình Luận Tại Đây</div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="write-comment" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đánh Giá Sản Phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div>Chọn sao: </div>
                            <select
                                [(ngModel)]="starComment"
                                class="form-select" aria-label="Default select example">
                                <option value="0" selected>Vui lòng chọn sao cho sản phẩm!</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="mt-4">
                            <label class="form-label">Viết bình luận tại đây:</label>
                            <textarea [(ngModel)]="textCommnent" name="textCommnent" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button *ngIf="starComment && textCommnent" type="button" class="btn btn-primary" (click)="handlerComment()"
                            data-bs-dismiss="modal" aria-label="Close">Gửi Bình Luận</button>
                        <button *ngIf="!starComment || !textCommnent" 
                            type="button" class="btn btn-light"
                            >Gửi Bình Luận</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
        <div [ngClass]="showToast ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
          </div>
          <div class="toast-body">
            Bạn đã mua hàng thành công!
          </div>
        </div>
    </div>

    <div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
        <div [ngClass]="toastMessage ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
          </div>
          <div class="toast-body">
            Bạn đã gửi tin nhắn thành công!
          </div>
        </div>
    </div>

    <div class="position-fixed top-0 end-0" style="margin-top: 5rem; z-index: 99998;">
        <div [ngClass]="errorMessage ? 'toast show' : 'toast hide'" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header bg-danger">
            <strong class="me-auto">Thông báo</strong>
          </div>
          <div class="toast-body">
            {{ errorMessage }}
          </div>
        </div>
    </div>


</div>

<div *ngIf="!product.name">
    <app-skeleton></app-skeleton>
</div>