<div class="p-4">
    <h1>Chi tiết đơn hàng</h1>
    <div style="font-size: 1rem;">
        <div>Tên người đặt hàng: {{order.noteId.name}} </div>
        <div>Số điện thoại: {{order.noteId.phone}}</div>
        <div>Địa chỉ: {{order.noteId.address}}</div>
        <div>Tổng tiền đơn hàng: {{order.total|currency:'VND':'VNĐ':'1.0-0':'vi-VN'}}</div>
        <div>Thanh toán: {{order.payId.name}}</div>
        <div>Trạng thái thanh toán: {{order.pay ? "Đã thanh toán" : "Chưa thanh toán"}}</div>
        <div>Ngày đặt hàng: {{order.createTime}}</div>
    </div>
    <div class="group_box_status" style="margin: 3rem 0">
        <div class="d-flex justify-content-center">
            <div class="group_status_delivery d-flex justify-content-around">
                <div class="detail_status_delivery">
                    <div class="w-100 d-flex justify-content-center">
                        <div [ngClass]="order.status=='1'?'bg_status_delivery_active':'bg_status_delivery'"></div>
                    </div>
                    <a class="a_status_delivery">Đang xử lý</a>
                </div>

                <div class="detail_status_delivery">
                    <div class="w-100 d-flex justify-content-center">
                        <div [ngClass]="order.status=='2'?'bg_status_delivery_active':'bg_status_delivery'"></div>
                    </div>
                    <a class="a_status_delivery">Đã xác nhận</a>
                </div>

                <div class="detail_status_delivery">
                    <div class="w-100 d-flex justify-content-center">
                        <div [ngClass]="order.status=='3'?'bg_status_delivery_active':'bg_status_delivery'"></div>
                    </div>
                    <a class="a_status_delivery">Đang vận chuyển</a>
                </div>

                <div class="detail_status_delivery">
                    <div class="w-100 d-flex justify-content-center">
                        <div [ngClass]="order.status=='4'?'bg_status_delivery_active':'bg_status_delivery'"></div>
                    </div>
                    <a class="a_status_delivery">Hoàn thành</a>
                </div>
            </div>
        </div>
        <div class="test_status d-flex justify-content-center">
            <div class="hr_status_delivery"></div>
        </div>
    </div>
    <div class="pt-3">
        <div class="content-product-wrap-table">
            <table class="content-product-table">
                <thead>
                    <th>STT</th>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Kích thước</th>
                    <th>Giá tiền</th>
                    <th>Tổng tiền</th>
                </thead>
                <tbody *ngFor="let item of order.detail;index as i">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>
                            <img src={{item.productId.image[0]}} alt="đây là áo" class="content-product-table-image" />
                        </td>
                        <td>{{item.productId.name}}</td>
                        <td>{{item.count}}</td>
                        <td>{{item.size}}</td>
                        <td>{{item.productId.price|currency:'VND':'VNĐ':'1.0-0':'vi-VN'}}</td>
                        <td>{{item.productId.price * item.count|currency:'VND':'VNĐ':'1.0-0':'vi-VN'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>