<div class="content-product">
    <div class="content-product-header row">
        <div class="content-product__tab dropdown col-2">
            <i class="content-product__tab-icon fa fa-bar-chart"></i>
            <span class="content-product__tab-label">{{params.name}}</span>
        </div>

        <form class="content-product__search col-10">

            <div class="content-product__search-input-wrap">
                <input ngModel name="search" type="text" class="content-product__search-input" placeholder="Tìm kiếm ...">
            </div>
            <button class="content-product__search-btn"><i class="content-product__search-btn-icon fa fa-search"></i></button>
        </form>
    </div>

    <div class="container table-responsive my-4">
        <table class="content-product-table ">
            <thead>
                <th>Email</th>
                <th>Tên người đặt</th>
                <th>Số điện thoại</th>
                <th>Tổng tiền</th>
                <th>Tình trạng</th>
                <th>Thanh toán</th>
                <th>Ngày đặt hàng</th>
                <th>Hành động</th>
            </thead>
            <tbody *ngFor="let item of order;index as i;">
                <tr>
                    <td>{{item.userId.email}}</td>
                    <td>
                        {{item.noteId.name}}
                    </td>
                    <td>
                        {{item.noteId.phone}}
                    </td>
                    <td data-label="Tổng tiền">{{item.total|currency:'VND':'VNĐ':'1.0-0':'vi-VN'}}</td>
                    <td data-label="Tổng tiền" [ngSwitch]="item.status">
                        <p *ngSwitchCase="1">Đang xử lý</p>
                        <p *ngSwitchCase="2">Đã xác nhận</p>
                        <p *ngSwitchCase="3">Đang vận chuyển</p>
                        <p *ngSwitchCase="4">Đã giao</p>
                        <p *ngSwitchCase="5">Đã hủy</p>
                    </td>
                    <td data-label="Loại sản phẩm">{{item.payId.payment}}</td>
                    <td data-label="Giá thành">{{item.createTime}}</td>

                    <td>
                        <div class="content-product-table-action">
                            <button [routerLink]="['/user/order/detail/'+item._id]" class="content-product-table-btn btn-primary">Chi tiết</button>
                        </div>
                        <div class="content-product-table-action" *ngIf="item.status<4">
                            <button class="content-product-table-btn btn-success" (click)="updateStatusOrder(item,i,true)">Xác nhận</button>
                        </div>
                        <div class="content-product-table-action" *ngIf="item.status < 4 && !item.pay">
                            <button class="content-product-table-btn btn-danger" (click)="updateStatusOrder(item,i,false)">Hủy</button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-3">
        <app-pagination [itemLength]="orderLength" [filter]="filter"></app-pagination>
    </div>


</div>