<div class="main-header">
    <div class="header-laptop">
        <div class="layout-header-laptop container">
            <div *ngIf="user.permission === 'client'" class="group-header-top d-flex justify-content-end">
                <div class="header-notification">
                    <div>
                        <i class="fa fa-bell-o p-1"></i>
                        <span>Thông Báo</span>
                    </div>
                    <div class="sub-notification">
                        <!-- <div class="text-center">
                <div class="bg-cart-empty"></div>
                <span>Chưa có sản phẩm</span>
              </div> -->
                        <div class="pt-2 pb-3">
                            Thông báo mới nhận
                        </div>
                        <div class="hover-sub-notification active">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Áo Tay</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="view-all">
                            Xem tất cả
                        </div>
                    </div>
                </div>
                <div class="header-profile" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i *ngIf="!user.image" class="fa fa-user-circle-o p-1"></i>
                    <img *ngIf="user.image" class="logo-mini-profile" src="{{ user.image }}" alt="">
                    <span class="ms-1">{{ user.name }}</span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" [routerLink]="['/user/profile']"><i class="fa fa-gear icon-profile"></i>&nbsp;&nbsp;Quản lý thông tin</a>
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/chat', user.userId]"><i class="fa fa-comment icon-profile"></i>&nbsp;&nbsp;Tin nhắn</a></li>
                    <li><a class="dropdown-item" (click)="logOut()"><i class="fa fa-mail-forward icon-profile"></i>&nbsp;&nbsp;Đăng xuất</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="user.permission === 'shop'" class="group-header-top d-flex justify-content-end">
                <div class="header-notification">
                    <div>
                        <i class="fa fa-bell-o p-1"></i>
                        <span>Thông Báo</span>
                    </div>
                    <div class="sub-notification">
                        <div class="pt-2 pb-3">
                            Thông báo mới nhận
                        </div>
                        <div class="hover-sub-notification active">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Áo Tay</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="view-all">
                            Xem tất cả
                        </div>
                    </div>
                </div>
                <div class="header-profile" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i *ngIf="!user.image" class="fa fa-user-circle-o p-1"></i>
                    <img *ngIf="user.image" class="logo-mini-profile" src="{{ user.image }}" alt="">
                    <span>{{ user.name }}</span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" [routerLink]="['/manages/product/list/all']"><i class="fa fa-gear icon-profile"></i>&nbsp;&nbsp;Quản lý cửa hàng</a>
                    </li>
                    <li><a class="dropdown-item" [routerLink]="['/user/profile']"><i class="fa fa-gear icon-profile"></i>&nbsp;&nbsp;Thông tin cá nhân</a>
                    </li>
                    <li><a class="dropdown-item" (click)="logOut()"><i class="fa fa-mail-forward icon-profile"></i>&nbsp;&nbsp;Đăng xuất</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="user.permission === 'admin'" class="group-header-top d-flex justify-content-end">
                <div class="header-notification">
                    <div>
                        <i class="fa fa-bell-o p-1"></i>
                        <span>Thông Báo</span>
                    </div>
                    <div class="sub-notification">
                        <div class="pt-2 pb-3">
                            Thông báo mới nhận
                        </div>
                        <div class="hover-sub-notification active">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Áo Tay</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="hover-sub-notification">
                            <img class="image-sub-notification" src="../assets/avt.jpg" alt="">
                            <div class="content-sub-notification">
                                <div style="font-family: 'Nunito Sans', sans-serif;">Nguyễn Kim Tiền</div>
                                <span>Vừa thả tim sản phẩm 123123213</span>
                            </div>
                        </div>
                        <div class="view-all">
                            Xem tất cả
                        </div>
                    </div>
                </div>
                <div class="header-profile" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user-circle-o p-1"></i>
                    <span>{{ user.name }}</span>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" [routerLink]="['/admin']"><i class="fa fa-gear icon-profile"></i>&nbsp;&nbsp;Quản lý hệ thông</a>
                    </li>
                    <li><a class="dropdown-item" (click)="logOut()"><i class="fa fa-mail-forward icon-profile"></i>&nbsp;&nbsp;Đăng xuất</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="!user.name" class="group-header-top d-flex justify-content-end">
                <div [routerLink]="['/login']" class="header-profile">
                    <i class="fa fa-user-circle-o p-1"></i>
                    <span>Đăng Nhập</span>
                </div>
            </div>
            <div class="group-header-mid d-flex justify-content-between">
                <div class="logo-header d-flex">
                    <img class="image-logo-header" src="../assets/logo.png" alt="">
                    <h3 class="h3-logo-header">Social</h3>
                </div>
                <div class="search-header" #searchEffect>
                    <div class="width-search-header">
                        <form #searchProduct="ngForm" (ngSubmit)="onSearchProduct(searchProduct.value)">
                            <input [(ngModel)]="search" name="search" class="input-search-header" type="text" placeholder="Tìm kiếm sản phẩm mà bạn mong muốn!" (ngModelChange)='searchChange($event)'>
                        </form>
                        <div class="icon-search-header">
                            <i class="fa fa-search"></i>
                        </div>
                        <div [ngClass]="subSearch ? 'sub-search active' : 'sub-search'">
                            <div *ngIf='!listSearch' class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <div *ngIf='listSearch' class="items-search">
                                <div (click)="redirectSearch(item._id)" class="hover-sub-notification" *ngFor="let item of listSearch">
                                    <img class="image-sub-notification" src="{{ item.image[0] }}" alt="">
                                    <div class="content-sub-notification">
                                        <div style="font-family: 'Nunito Sans', sans-serif;">{{ item.name }}</div>
                                        <span>Giá: {{ item.price | currency:'VND':'VNĐ':'1.0-0':'vi-VN'}}</span>, <span>size: Lớn</span>
                                    </div>
                                </div>
                                <div *ngIf="listSearch.length === 0" style="height: 100%;" class="d-flex justify-content-center align-items-center">
                                    <div class="text-center" style="font-size: 1.2rem;">
                                        <div class="searchNull"></div>
                                        <div class="mt-1">
                                            Không tìm thấy sản phẩm này!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-option cart-header">
                    <div class="padding-cart-header" [routerLink]="['/cart']">
                        <i class="fa fa-cart-arrow-down" style="font-size: 30px;"></i>
                        <span class="count-cart">{{ count }}</span>
                        <span style="font-size: .8rem; margin-left: .2rem;">Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-laptop" #sticky>
        <div class="layout-nav-laptop container">
            <div class="nav-link">
                <a [routerLink]="['/']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}" class="a-nav-link">Trang chủ</a>
            </div>
            <div class="nav-link">
                <a [routerLink]="['/product/all']" [routerLinkActive]="['active-link']" class="a-nav-link">Danh mục sản phẩm</a>
            </div>
            <div class="nav-link">
                <a [routerLink]="['/newfeed']" [routerLinkActive]="['active-link']" class="a-nav-link">Sản phẩm mới</a>
            </div>
            <div class="nav-link">
                <a (click)="redirectLucky()" [routerLinkActive]="['active-link']" class="a-nav-link">Vòng quay may mắn</a>
            </div>
        </div>
    </div>
</div>

<div class="main-header-mobile">
    <div class="layout-header-mobile">
        <div class="logo-header d-flex">
            <img class="image-logo-header" src="../assets/logo.png" alt="">
            <h3 class="h3-logo-header">Social</h3>
        </div>
        <div class="d-flex mt-2">
            <div class="padding-cart-header" [routerLink]="['/cart']">
                <i class="fa fa-cart-arrow-down" style="font-size: 30px;"></i>
                <span class="count-cart">0</span>
            </div>
            <div class="nav-bar-mobile" data-bs-toggle="offcanvas" href="#navMobile" role="button" aria-controls="navMobile">
                <i class="fa fa-bars" style="font-size: 30px; margin-top: .2rem;"></i>
            </div>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="navMobile" style="z-index: 999999;">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                    <div class="logo-header d-flex">
                        <img class="image-logo-header" src="../assets/logo.png" alt="">
                        <h2 class="h3-logo-header">Social</h2>
                    </div>
                </h5>
                <button type="button" class="btn-close" style="background-color: #fff;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="name-nav-mobile">
                    <li>Thông báo</li>
                </div>
                <div class="name-nav-mobile">
                    <li>Tài khoản</li>
                </div>
                <div class="name-nav-mobile">
                    <li>Trang chủ</li>
                </div>
                <div class="name-nav-mobile">
                    <li>Danh mục sản phẩm</li>
                </div>
                <div class="name-nav-mobile">
                    <li>Sản phẩm mới</li>
                </div>
                <div [routerLink]="['/lucky']" data-bs-dismiss="offcanvas" class="name-nav-mobile">
                    <li>Vòng quay may mắn</li>
                </div>
            </div>
        </div>
    </div>

</div>

<router-outlet></router-outlet>

<div class="direct-top">
    <a (click)="onScrollTop()"><i class="fa fa-chevron-up fix-icon-direct"></i></a>
</div>

<div class="footer">
    <div class="layout-footer container">
        <div class="gioithieu mr-auto">
            <h4 class="footer-title">Giới thiệu</h4>
            <span>Nắm bắt được xu hướng mua hàng online nên chúng tôi đã có mặt ở đây nhằm phục vụ cho mọi người có thể tiện
        lợi mua hàng ở mọi lúc mọi nơi.</span>
            <br>
            <div class="pt-3">
                <img style="width: 180px;" src="//theme.hstatic.net/200000232135/1000682292/14/logo_bct.png?v=274" alt="Bộ Công Thương">
            </div>
        </div>
        <div class="lienket mr-auto">
            <h4 class="footer-title">Liên kết</h4>
            <li>Trang chủ</li>
            <li>Danh mục</li>
            <li>Sản phẩm mới</li>
            <li>Vòng quay may mắn</li>
        </div>
        <div class="lienhe mr-auto">
            <h4 class="footer-title">Thông tin liên hệ</h4>
            <li><i class="fa fa-map-marker" style="font-size: 20px;"></i> 828 Sư Vạn Hạnh, Phường 13, Quận 10, Hồ Chí Minh.
            </li>
            <li><i class="fa fa-phone" style="font-size: 20px;"></i> (+84) 763.557.366</li>
            <li><i class="fa fa-location-arrow" style="font-size: 20px;"></i> tienkim9920@gmail.com</li>
        </div>
        <div class="fanpage mr-auto">
            <h4 class="footer-title">Fanpage</h4>
            <div class="logo-header d-flex">
                <img class="image-logo-header" src="../assets/logo.png" alt="">
                <h3 class="h3-logo-header">Social</h3>
            </div>
        </div>
    </div>

    <div id="accordionExample" class="layout-footer-responsive container">
        <div class="gioithieu">
            <div class="group-footer" data-bs-toggle="collapse" data-bs-target="#gioithieu" aria-expanded="true" aria-controls="gioithieu">
                <h4 class="footer-title">Giới thiệu</h4>
                <i class="fa fa-plus mt-1" style="font-size:22px"></i>
            </div>
            <div id="gioithieu" class="collapse" data-bs-parent="#accordionExample">
                <div class="p-2">
                    <span>Nắm bắt được xu hướng mua hàng online nên chúng tôi đã có mặt ở đây nhằm phục vụ cho mọi người có thể
            tiện
            lợi mua hàng ở mọi lúc mọi nơi.</span>
                    <br>
                    <div class="pt-3">
                        <img style="width: 180px;" src="//theme.hstatic.net/200000232135/1000682292/14/logo_bct.png?v=274" alt="Bộ Công Thương">
                    </div>
                </div>
            </div>
        </div>
        <div class="lienket pt-3">
            <div class="group-footer" data-bs-toggle="collapse" data-bs-target="#lienket" aria-expanded="true" aria-controls="lienket">
                <h4 class="footer-title">Liên kết</h4>
                <i class="fa fa-plus mt-1" style="font-size:22px"></i>
            </div>
            <div id="lienket" class="collapse" data-bs-parent="#accordionExample">
                <div class="p-2">
                    <li>Trang chủ</li>
                    <li>Danh mục</li>
                    <li>Sản phẩm mới</li>
                    <li>Vòng quay may mắn</li>
                </div>
            </div>
        </div>
        <div class="lienhe pt-3">
            <div class="group-footer" data-bs-toggle="collapse" data-bs-target="#lienhe" aria-expanded="true" aria-controls="lienhe">
                <h4 class="footer-title">Thông tin liên hệ</h4>
                <i class="fa fa-plus mt-1" style="font-size:22px"></i>
            </div>
            <div id="lienhe" class="collapse" data-bs-parent="#accordionExample">
                <div class="p-2">
                    <li><i class="fa fa-map-marker" style="font-size: 20px;"></i> 828 Sư Vạn Hạnh, Phường 13, Quận 10, Hồ Chí Minh.
                    </li>
                    <li><i class="fa fa-phone" style="font-size: 20px;"></i> (+84) 763.557.366</li>
                    <li><i class="fa fa-location-arrow" style="font-size: 20px;"></i> tienkim9920@gmail.com</li>
                </div>
            </div>
        </div>
        <div class="fanpage pt-3">
            <div class="group-footer" data-bs-toggle="collapse" data-bs-target="#fanpage" aria-expanded="true" aria-controls="fanpage">
                <h4 class="footer-title">Fanpage</h4>
                <i class="fa fa-plus mt-1" style="font-size:22px"></i>
            </div>
            <div id="fanpage" class="collapse" data-bs-parent="#accordionExample">
                <div class="logo-header d-flex mt-2">
                    <img class="image-logo-header" src="../assets/logo.png" alt="">
                    <h3 class="h3-logo-header">Social</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container" style="border-top: 1px solid #f1f1f1; padding: 1.3rem;">
        <a style="font-weight: 300 !important;" target="_blank">Copyright © 2021 Social. Powered by Nguyễn Kim Tiền, Nguyễn
      Quốc Toàn, Bùi Thế Minh Hiếu</a>
    </div>
</div>