<nav aria-label="breadcrumb">
  <ol class="breadcrumb product-content-title">
    <li class="breadcrumb-item" aria-current="page">Hồ sơ shop</li>
  </ol>
</nav>

<div class="product-edit-wrapper">
  <div class="product-grid">
    <div class="product-grid__row">
      <div class="product-grid__col-left">
        <div class="product-file__section">
          <div class="product-edit__heading">
            <p class="product-edit__heading-label">
              Trang bán hàng
            </p>
          </div>
          <div class="product-file__info">
            <div class="product-file__item">
              <label class="product-file__item-label">
                Ảnh đại diện shop
              </label>
              <div class="product-file__upload">
                <img src="{{imageDefault}}" alt="" class="product-file__upload-img">
              </div>
            </div>
          </div>
          <div class="product-edit__heading">
            <p class="product-edit__heading-label">
              Thông tin bán hàng
            </p>
          </div>
          <li class="sidebar-menu-box">
            <div class="sidebar-menu-item">
              <div class="sidebar-menu-item-font">
                <i class="sidebar-menu-item-icon fa fa-desktop"></i>
                <span class="sidebar-menu-item-label">Giao diện shop</span>
              </div>
              <div class="sidebar-menu-item-direct">
                <a class="sidebar-menu-item-site" target="_blank" [routerLink]="['/shop/'+shop._id]">Xem</a>
                <i class="fa fa-angle-right sidebar-menu-item-icon-right"></i>
              </div>
            </div>
          </li>
          <li class="sidebar-menu-box">
            <div class="sidebar-menu-item">
              <div class="sidebar-menu-item-font">
                <i class="sidebar-menu-item-icon fa fa-gift"></i>
                <span class="sidebar-menu-item-label">Sản phẩm</span>
              </div>
              <div class="sidebar-menu-item-direct">
                <p class="sidebar-menu-item-site">0</p>
                <i class="fa fa-angle-right sidebar-menu-item-icon-right"></i>
              </div>
            </div>
          </li>
          <li class="sidebar-menu-box">
            <div class="sidebar-menu-item">
              <div class="sidebar-menu-item-font">
                <i class="sidebar-menu-item-icon fa fa-star"></i>
                <span class="sidebar-menu-item-label">Đánh giá shop</span>
              </div>
              <div class="sidebar-menu-item-direct">
                <p class="sidebar-menu-item-site">4.7</p>
              </div>
            </div>
          </li>
          <li class="sidebar-menu-box">
            <div class="sidebar-menu-item">
              <div class="sidebar-menu-item-font">
                <i class="sidebar-menu-item-icon fa fa-check-square-o"></i>
                <span class="sidebar-menu-item-label">Tỉ lệ đơn hàng thành công</span>
              </div>
              <div class="sidebar-menu-item-direct">
                <p class="sidebar-menu-item-site">99%</p>
                <i class="fa fa-angle-right sidebar-menu-item-icon-right"></i>
              </div>
            </div>
          </li>


        </div>

        <div class="product-file__section mt-16">
          <div class="product-edit__heading">
            <p class="product-edit__heading-label">
              Mạng xã hội
            </p>
          </div>

          <li class="sidebar-menu-box">
            <div class="sidebar-menu-item">
              <div class="sidebar-menu-item-font">
                <i class="sidebar-menu-item-icon fa fa-globe"></i>
                <span class="sidebar-menu-item-label">Website</span>
              </div>
              <p class="sidebar-menu-item-site">hahadaubo.com</p>
            </div>
          </li>
          <li class="sidebar-menu-box">
            <div class="sidebar-menu-item">
              <div class="sidebar-menu-item-font">
                <i class="sidebar-menu-item-icon fa fa-facebook"></i>
                <span class="sidebar-menu-item-label">Facebook</span>
              </div>
              <p class="sidebar-menu-item-site">facebook/hahadaubo</p>
            </div>
          </li>
          <li class="sidebar-menu-box">
            <div class="sidebar-menu-item">
              <div class="sidebar-menu-item-font">
                <i class="sidebar-menu-item-icon fa fa-instagram"></i>
                <span class="sidebar-menu-item-label">Facebook</span>
              </div>
              <p class="sidebar-menu-item-site">instagram/hahadaubo</p>
            </div>
          </li>
          <li class="sidebar-menu-box">
            <div class="sidebar-menu-item">
              <div class="sidebar-menu-item-font">
                <i class="sidebar-menu-item-icon fa fa-youtube-play"></i>
                <span class="sidebar-menu-item-label">Youtube</span>
              </div>
              <p class="sidebar-menu-item-site">youtube/hahadaubo</p>
            </div>
          </li>

        </div>
      </div>

      <div class="product-grid__col-right" >
        <form class="product-edit__section" #changeDetailShop="ngForm">
          <div class="product-edit__heading">
            <p class="product-edit__heading-label">
              Thông tin cơ bản
            </p>
          </div>
          <div class="product-edit__info">

            <div class="product-edit__item">
              <label for="user-name" class="product-edit__item-label">
                Tên shop
              </label>
              <input type="text" id="user-name" class="product-edit__item-input" [(ngModel)]="shop.name" name="name"/>
            </div>

            <div class="product-file__item">
              <label class="product-file__item-label">
                Ảnh đại diện shop
              </label>
              <div class="product-file__upload">
                <img src="{{ imageChange }}" alt="" class="product-file__upload-img">
                <input (change)="onSelectImage($event)" type="file" id="file-image" class="product-file__upload-btn" placeholder="Tải hình ảnh">
                <label for="file-image" class="product-file__upload-btn-label">Tải hình ảnh</label>
                <label for="file-image" class="product-file__upload-label">Chọn hình ảnh & video từ trong máy</label>
              </div>
            </div>

            <div class="product-edit__item ">
              <label for="product-name" class="product-edit__item-label">
                Mô tả shop
              </label>
              <input type="text" id="product-name" class="product-edit__item-input product-edit__item-input-desc" [(ngModel)]="shop.description" name="description"/>
            </div>

          </div>

          <button type="submit" class="btn user-edit__btn-save" id="" (click)="handlerPatchDetailShop()">Lưu thông tin</button>
        </form>
      </div>
    </div>
  </div>
</div>
