<div class="content-product">
  <div class="content-product-header">
    <div class="content-product__tab">
      <i class="content-product__tab-icon fa fa-bar-chart"></i>
      <span class="content-product__tab-label">Sản phẩm giảm giá</span>
    </div>

    <div class="content-product__search">
      <div class="content-product__search-input-wrap">
          <input type="text" class="content-product__search-input" placeholder="Tìm kiếm sản phẩm ...">
          <!-- content-product-search-history -->

          <div class="content-product__search-history">
              <h3 class="content-product__search-history-heading">Lịch sử tìm kiếm</h3>
              <ul class="content-product__search-history-list">
                  <li class="content-product__search-history-item">
                      <a href="">Áo khoác hàng hiệu</a>
                  </li>
                  <li class="content-product__search-history-item">
                      <a href="">Quần jean cao cấp</a>
                  </li>
                  <li class="content-product__search-history-item">
                      <a href="">Đồng hồ Rolex</a>
                  </li>
              </ul>
          </div>
      </div>

      <button class="content-product__search-btn">
          <i class="content-product__search-btn-icon fa fa-search"></i>
      </button>

    </div>
  </div>
  <div class="content-product-wrap-table">
    <table class="content-product-table">
      <thead>
        <th>#</th>
        <th>Hình ảnh</th>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Loại sản phẩm</th>
        <th>Giá thành</th>
        <th>Tình trạng</th>
        <th>Action</th>
      </thead>
      <tbody>

        <tr>
          <td data-label="#">1</td>
          <td data-label="Hình ảnh">
            <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
          </td>
          <td data-label="Mã sản phẩm">001</td>
          <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
          <td data-label="Loại sản phẩm">Áo Thun</td>
          <td data-label="Giá thành">350.000vnd</td>
          <td data-label="Tình trạng">Giảm giá</td>

          <td data-label="Action">
            <div class="content-product-table-action">
              <button class="content-product-table-btn content-product-table-btn-detail">Chi tiết</button>
              <button class="content-product-table-btn content-product-table-btn-update">Thay đổi</button>
              <button class="content-product-table-btn content-product-table-btn-delete">Xóa</button>
            </div>
          </td>
        </tr>

        <tr>
          <td data-label="#">1</td>
          <td data-label="Hình ảnh">
            <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
          </td>
          <td data-label="Mã sản phẩm">001</td>
          <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
          <td data-label="Loại sản phẩm">Áo Thun</td>
          <td data-label="Giá thành">350.000vnd</td>
          <td data-label="Tình trạng">Giảm giá</td>

          <td data-label="Action">
            <div class="content-product-table-action">
              <button class="content-product-table-btn content-product-table-btn-detail">Chi tiết</button>
              <button class="content-product-table-btn content-product-table-btn-update">Thay đổi</button>
              <button class="content-product-table-btn content-product-table-btn-delete">Xóa</button>
            </div>
          </td>
        </tr>

        <tr>
          <td data-label="#">1</td>
          <td data-label="Hình ảnh">
            <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
          </td>
          <td data-label="Mã sản phẩm">001</td>
          <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
          <td data-label="Loại sản phẩm">Áo Thun</td>
          <td data-label="Giá thành">350.000vnd</td>
          <td data-label="Tình trạng">Giảm giá</td>

          <td data-label="Action">
            <div class="content-product-table-action">
              <button class="content-product-table-btn content-product-table-btn-detail">Chi tiết</button>
              <button class="content-product-table-btn content-product-table-btn-update">Thay đổi</button>
              <button class="content-product-table-btn content-product-table-btn-delete">Xóa</button>
            </div>
          </td>
        </tr>

        <tr>
          <td data-label="#">1</td>
          <td data-label="Hình ảnh">
            <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
          </td>
          <td data-label="Mã sản phẩm">001</td>
          <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
          <td data-label="Loại sản phẩm">Áo Thun</td>
          <td data-label="Giá thành">350.000vnd</td>
          <td data-label="Tình trạng">Giảm giá</td>

          <td data-label="Action">
            <div class="content-product-table-action">
              <button class="content-product-table-btn content-product-table-btn-detail">Chi tiết</button>
              <button class="content-product-table-btn content-product-table-btn-update">Thay đổi</button>
              <button class="content-product-table-btn content-product-table-btn-delete">Xóa</button>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="content-product-page-controller">
    <a class="prev">&#10094;</a>
    <div class="dot active">1</div>
    <div class="dot">2</div>
    <div class="dot">3</div>
    <a class="next">&#10095;</a>
  </div>
</div>
