<div class="container my-3 layout-index">
    <div class="text-center">
        <h1 class="p-4">Giỏ hàng chia sẻ</h1>
        <div class="form-name">
            <form>
                <div class="mb-4 row">
                    <div class="col-4 col-lg-3 text-right">
                        <label for="email" class="mt-2 lbl-info">Giới hạn số tiền:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control w-75">
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3  text-right">
                        <label for="name" class="mt-2 lbl-info">Link giỏ hàng:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control w-75" id="name">
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3  text-right">
                        <label for="name" class="mt-2 lbl-info">Trạng thái giỏ hàng:</label>
                    </div>
                    <div class="col-6 mt-2 d-flex justify-content-between">
                        <div class="d-flex text-success">
                            <div class="bg-success" style="width: 15px; height: 15px; border-radius: 50%;"></div> &nbsp;
                            Đang hoạt động
                        </div>
                        <div [routerLink]="['/cart/setting']" style="cursor: alias; color: #1A94FF;">Thay đổi</div>
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3">
                    </div>
                    <div>
                        <button class="btn btn-primary">Lưu lại</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
