<div class="container my-3 layout-index">
    <div class="text-center">
        <h1>Thông tin tài khoản</h1>
        <div class="form-name">
            <form>
                <div class="row">
                    <div class="col-3 text-right">
                        <label for="password" class=" mr-3 lbl-info">Mật khẩu hiện tại:</label>
                    </div>
                    <div class="col-8">
                        <mat-form-field appearance="outline" class="full-width">
                            <input matInput [type]="hidePassword ? 'password' : 'text'" id="password">
                            <div mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                <mat-icon style="cursor: pointer;">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </div>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 text-right">
                        <label for="newPassword" class=" mr-3 lbl-info">Mật khẩu mới:</label>
                    </div>
                    <div class="col-8">
                        <mat-form-field appearance="outline" class="full-width">
                            <input matInput [type]="hideNewPassword ? 'password' : 'text'" id="newPassword">
                            <div mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                                <mat-icon style="cursor: pointer;">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </div>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 text-right">
                        <label for="confirmPassword" class=" mr-3 lbl-info">Xác nhận mật khẩu:</label>
                    </div>
                    <div class="col-8">
                        <mat-form-field appearance="outline" class="full-width">
                            <input matInput [type]="hideConfirm ? 'password' : 'text'" id="confirmPassword">
                            <div mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                                <mat-icon style="cursor: pointer;">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </div>
                        </mat-form-field>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-8 text-left">
                        <button mat-raised-button color="primary">Xác nhận</button>
                    </div>
                </div>


            </form>
        </div>

    </div>
</div>