.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.text-right {
    margin: auto 0;
}

.full-width {
    width: 200%;
}

.col-8 {
    flex: 0 0;
}
