<div class="container my-3 layout-index">
    <div class="text-center">
        <h1>Thay đổi mật khẩu</h1>
        <p class="{{inforAPI=='Bạn đã thay đổi thành công' ? 'text-success' : 'text-danger'}}">{{inforAPI}}</p>
        <div class="form-name">
            <form autocomplete="off" #changePass="ngForm" (ngSubmit)="onSubmit(changePass.value)">
                <div class="mb-4 row">
                    <div class="col-4 col-lg-3  text-right">
                        <label for="password" class="mt-2 lbl-info">Mật khẩu hiện tại:</label>
                    </div>
                    <div class="col-8">
                        <input name="password" ngModel type="password" required class="form-control w-75" />
                        <p class="text-danger" style="text-align:left" *ngIf="error">{{error.password}}</p>
                    </div>

                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3  text-right">
                        <label for="newPassword" class="mt-2 lbl-info">Mật khẩu mới:</label>
                    </div>
                    <div class="col-8">
                        <input name="newPassword" ngModel type="password" class="form-control w-75" />
                        <p class="text-danger" style="text-align:left" *ngIf="error">{{error.newPassword}}</p>
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3  text-right">
                        <label for="confirmPassword" class="mt-2 lbl-info">Xác nhận mật khẩu:</label>
                    </div>
                    <div class="col-8">
                        <input name="confirmPassword" ngModel type="password" class="form-control w-75" />
                        <p class="text-danger" style="text-align:left" *ngIf="error">{{error.confirm}}</p>
                    </div>
                </div>

                <div class="mb-4 row">
                    <div class="col-4 col-lg-3">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Lưu lại</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>