<div class="app__container">
  <div class="grid container">
      <div class="grid__row">
          <div class="grid__column-sidebar">
            <nav class="sidebar">
              <ul class="sidebar-menu">

                <li class="sidebar-menu-box">
                  <div class="sidebar-menu-item" data-bs-toggle="collapse" data-bs-target="#qlsp" aria-expanded="true"
                  aria-controls="qlsp">
                    <div class="sidebar-menu-item-font">
                      <i class="sidebar-menu-item-icon fa fa-shopping-bag"></i>
                      <span class="sidebar-menu-item-label">Quản lý sản phẩm</span>
                    </div>
                    <i class="sidebar-menu-item-icon-dropdown fa fa-angle-down"></i>
                  </div>
                  <ul class="sidebar-submenu" id="qlsp" class="collapse" data-bs-parent="#accordionExample">
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link sidebar-submenu-item-link-active">Tất cả sản phẩm</a>
                    </li>
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Thêm sản phẩm</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-menu-box">
                  <div class="sidebar-menu-item" data-bs-toggle="collapse" data-bs-target="#qldh" aria-expanded="true"
                  aria-controls="qldh">
                    <div class="sidebar-menu-item-font">
                      <i class="sidebar-menu-item-icon fa fa-truck"></i>
                      <span class="sidebar-menu-item-label">Quản lý đơn hàng</span>
                    </div>
                    <i class="sidebar-menu-item-icon-dropdown fa fa-angle-down"></i>
                  </div>
                  <ul class="sidebar-submenu" id="qldh" class="collapse" data-bs-parent="#accordionExample">
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Tất cả đơn hàng</a>
                    </li>
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Vận chuyển</a>
                    </li>
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Đơn hủy</a>
                    </li>
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Trả hàng</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-menu-box">
                  <div class="sidebar-menu-item" data-bs-toggle="collapse" data-bs-target="#qlbh" aria-expanded="true"
                  aria-controls="qlbh">
                    <div class="sidebar-menu-item-font">
                      <i class="sidebar-menu-item-icon fa fa-bar-chart"></i>
                      <span class="sidebar-menu-item-label">Quản lý bán hàng</span>
                    </div>
                    <i class="sidebar-menu-item-icon-dropdown fa fa-angle-down"></i>
                  </div>
                  <ul class="sidebar-submenu" id="qlbh" class="collapse" data-bs-parent="#accordionExample">
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Phân tích bán hàng</a>
                    </li>
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Dữ liệu</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-menu-box">
                  <div class="sidebar-menu-item" data-bs-toggle="collapse" data-bs-target="#qls" aria-expanded="true"
                  aria-controls="qls">
                    <div class="sidebar-menu-item-font">
                      <i class="sidebar-menu-item-icon fa fa-building"></i>
                      <span class="sidebar-menu-item-label">Quản lý shop</span>
                    </div>
                    <i class="sidebar-menu-item-icon-dropdown fa fa-angle-down"></i>
                  </div>
                  <ul class="sidebar-submenu" id="qls" class="collapse" data-bs-parent="#accordionExample">
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Đánh giá</a>
                    </li>
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Hồ sơ</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-menu-box">
                  <div class="sidebar-menu-item" data-bs-toggle="collapse" data-bs-target="#tls" aria-expanded="true"
                  aria-controls="tls">
                    <div class="sidebar-menu-item-font">
                      <i class="sidebar-menu-item-icon fa fa-cog"></i>
                      <span class="sidebar-menu-item-label">Thiết lập shop</span>
                    </div>
                    <i class="sidebar-menu-item-icon-dropdown fa fa-angle-down"></i>
                  </div>
                  <ul class="sidebar-submenu" id="tls" class="collapse" data-bs-parent="#accordionExample">
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Địa chỉ</a>
                    </li>
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Thiết lập</a>
                    </li>
                    <li class="sidebar-submenu-item">
                        <a href="#" class="sidebar-submenu-item-link">Tài khoản</a>
                    </li>
                  </ul>
                </li>

              </ul>
            </nav>
          </div>

          <div class="grid__column-content">
            <div class="content-wrapper">

              <div class="tabs">
                <div class="tabs__tab tabs__tab-active">
                  <a href="#" class="tabs__tab-link">Tất cả</a>
                </div>
                <div class="tabs__tab">
                  <a href="#" class="tabs__tab-link">Đang bán</a>
                </div>
                <div class="tabs__tab">
                  <a href="#" class="tabs__tab-link">Hết hàng</a>
                </div>
                <div class="tabs__tab">
                  <a href="#" class="tabs__tab-link">Đã ẩn</a>
                </div>
              </div>

              <div class="content-product">
                <div class="content-product-header">
                  <div class="content-product__tab">
                    <i class="content-product__tab-icon fa fa-bar-chart"></i>
                    <span class="content-product__tab-label">Tất cả sản phẩm</span>
                  </div>

                  <div class="content-product__search">
                    <div class="content-product__search-input-wrap">
                        <input type="text" class="content-product__search-input" placeholder="Tìm kiếm sản phẩm ...">
                        <!-- content-product-search-history -->

                        <div class="content-product__search-history">
                            <h3 class="content-product__search-history-heading">Lịch sử tìm kiếm</h3>
                            <ul class="content-product__search-history-list">
                                <li class="content-product__search-history-item">
                                    <a href="">Áo khoác hàng hiệu</a>
                                </li>
                                <li class="content-product__search-history-item">
                                    <a href="">Quần jean cao cấp</a>
                                </li>
                                <li class="content-product__search-history-item">
                                    <a href="">Đồng hồ Rolex</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <button class="content-product__search-btn">
                        <i class="content-product__search-btn-icon fa fa-search"></i>
                    </button>

                  </div>
                </div>
                <div class="content-product-wrap-table">
                  <table class="content-product-table">
                    <thead>
                      <th>#</th>
                      <th>Hình ảnh</th>
                      <th>Mã sản phẩm</th>
                      <th>Tên sản phẩm</th>
                      <th>Loại sản phẩm</th>
                      <th>Giá thành</th>
                      <th>Action</th>
                    </thead>
                    <tbody>

                      <tr>
                        <td data-label="#">1</td>
                        <td data-label="Hình ảnh">
                          <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
                        </td>
                        <td data-label="Mã sản phẩm">001</td>
                        <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
                        <td data-label="Loại sản phẩm">Áo Thun</td>
                        <td data-label="Giá thành">350.000vnd</td>
                        <td data-label="Action">
                          <div class="content-product-table-action">
                            <button class="content-product-table-btn content-product-table-btn-update">Thay đổi</button>
                            <button class="content-product-table-btn content-product-table-btn-delete">Xóa</button>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td data-label="#">1</td>
                        <td data-label="Hình ảnh">
                          <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
                        </td>
                        <td data-label="Mã sản phẩm">001</td>
                        <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
                        <td data-label="Loại sản phẩm">Áo Thun</td>
                        <td data-label="Giá thành">350.000vnd</td>
                        <td data-label="Action">
                          <div class="content-product-table-action">
                            <button class="content-product-table-btn content-product-table-btn-update">Thay đổi</button>
                            <button class="content-product-table-btn content-product-table-btn-delete">Xóa</button>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td data-label="#">1</td>
                        <td data-label="Hình ảnh">
                          <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
                        </td>
                        <td data-label="Mã sản phẩm">001</td>
                        <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
                        <td data-label="Loại sản phẩm">Áo Thun</td>
                        <td data-label="Giá thành">350.000vnd</td>
                        <td data-label="Action">
                          <div class="content-product-table-action">
                            <button class="content-product-table-btn content-product-table-btn-update">Thay đổi</button>
                            <button class="content-product-table-btn content-product-table-btn-delete">Xóa</button>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td data-label="#">1</td>
                        <td data-label="Hình ảnh">
                          <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
                        </td>
                        <td data-label="Mã sản phẩm">001</td>
                        <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
                        <td data-label="Loại sản phẩm">Áo Thun</td>
                        <td data-label="Giá thành">350.000vnd</td>
                        <td data-label="Action">
                          <div class="content-product-table-action">
                            <button class="content-product-table-btn content-product-table-btn-update">Thay đổi</button>
                            <button class="content-product-table-btn content-product-table-btn-delete">Xóa</button>
                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>

                <div class="content-product-page-controller">
                  <a class="prev">&#10094;</a>
                  <div class="dot active">1</div>
                  <div class="dot">2</div>
                  <div class="dot">3</div>
                  <a class="next">&#10095;</a>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
