<div class="p-4">
    <h1>Chi tiết đơn hàng</h1>
    <div style="font-size: 1rem;">
        <div>Tên người đặt hàng: </div>
        <div>Số điện thoại: </div>
        <div>Địa chỉ: </div>
        <div>Tổng tiền đơn hàng: </div>
        <div>Thanh toán: Paypal</div>
        <div>Trạng thái thanh toán: </div>
        <div>Ngày đặt hàng: </div>
    </div>
    <div class="group_box_status" style="margin: 3rem 0">
        <div class="d-flex justify-content-center">
            <div class="group_status_delivery d-flex justify-content-around">
                <div class="detail_status_delivery">
                    <div class="w-100 d-flex justify-content-center">
                        <div class='bg_status_delivery_active'></div>
                    </div>
                    <a class="a_status_delivery">Đang xử lý</a>
                </div>

                <div class="detail_status_delivery">
                    <div class="w-100 d-flex justify-content-center">
                        <div class='bg_status_delivery'></div>
                    </div>
                    <a class="a_status_delivery">Đã xác nhận</a>
                </div>

                <div class="detail_status_delivery">
                    <div class="w-100 d-flex justify-content-center">
                        <div class='bg_status_delivery_active'></div>
                    </div>
                    <a class="a_status_delivery">Đang vận chuyển</a>
                </div>

                <div class="detail_status_delivery">
                    <div class="w-100 d-flex justify-content-center">   
                        <div class='bg_status_delivery'></div>
                    </div>
                    <a class="a_status_delivery">Hoàn thành</a>
                </div>
            </div>
        </div>
        <div class="test_status d-flex justify-content-center">
            <div class="hr_status_delivery"></div>
        </div>
    </div>
    <div class="pt-3">
        <div class="content-product-wrap-table">
            <table class="content-product-table">
                <thead>
                    <th>STT</th>
                    <th>Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Size</th>
                    <th>Giá tiền</th>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="#">1</td>
                        <td data-label="Hình ảnh">
                            <img src="https://bizweb.dktcdn.net/100/369/010/products/1-fdcf09d2-7dfc-4d56-9bb8-c540817d0cfa.jpg?v=1622002179000" alt="đây là áo" class="content-product-table-image">
                        </td>
                        <td data-label="Mã sản phẩm">001</td>
                        <td data-label="Tên sản phẩm">ROAR RUNNER PRINTED T-SHIRT</td>
                        <td data-label="Loại sản phẩm">Áo Thun</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>