<div class="layout-cart-share container">
    <div class="d-flex justify-content-center">
        <div>
            <div class="text-center pb-4 mt-2" style="font-size: 1.8rem;">Nhập Thông Tin Của Bạn</div>
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
            </svg>
            <div *ngIf="error" class="alert alert-danger mb-4 fade-true">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                Vui lòng kiểm tra lại Email và Mật Khẩu!
            </div>
            <div>
                <input class="input-cart-share" placeholder="Vui lòng nhập họ tên của bạn!" type="text"
                    [(ngModel)]="fullname" name="fullname">
            </div>
            <button *ngIf="fullname" class="btn-cart-share mt-3" (click)="handlerSubmit()">Xác nhận</button>
            <button *ngIf="!fullname" class="btn-cart-share unactive mt-3">Xác nhận</button>
        </div>
    </div>
</div>