<div class="container layout-profile">
    <div class="container section-profile">
        <div class="row">
            <div class="col-sm-12 col-lg-3 col-xl-2 section-left">
                <div class="m-3">
                    <div class="d-flex mb-1">
                        <i class="fa fa-user-circle-o" style='font-size: 26px; color:#1A94FF'></i>&nbsp;
                        <h1 class="login-title" style="margin: .5rem 0 0 .5rem" [routerLink]="['/user/profile']" [routerLinkActive]="['active-link']">Thông tin tài khoản</h1>
                    </div>

                    <div class="d-flex mt-3">
                        <i class='fa fa-cart-arrow-down' style='font-size: 26px; color:#1A94FF'></i>
                        <h1 class="login-title" style="margin: .5rem 0 0 .9rem" [routerLink]="['/user/order']" [routerLinkActive]="['active-link']">Đơn hàng của bạn</h1>
                    </div>

                    <div class="d-flex mt-3">
                        <i class='fa fa-gift' style='font-size: 26px;color:#f11818'></i>
                        <h1 class="login-title" style="margin: .5rem 0 0 .9rem" [routerLink]="['/user/voucher/ticket']" [routerLinkActive]="['active-link']">Voucher</h1>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-lg-9 col-xl-10 section-right">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>