<div class="layout-home container">
    <div class="section-banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/bg1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/bg2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/bg3.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/bg4.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="section-banner-right">

        </div>
    </div>
    <div class="section-danhmuc">
        <h4 class="h4-danhmuc">Danh Mục</h4>
        <div class="list-danhmuc-product">
            <div class="category-danhmuc">
                <a class="category-danhmuc-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-category-danhmuc" src="../../../assets/tshirt.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2">Thời Trang</div>
                </a>
                <a class="category-danhmuc-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-category-danhmuc" src="../../../assets/phone.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2">Thời Trang</div>
                </a>
                <a class="category-danhmuc-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-category-danhmuc" src="../../../assets/watch.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2">Thời Trang</div>
                </a>
                <a class="category-danhmuc-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-category-danhmuc" src="../../../assets/camera.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2">Thời Trang</div>
                </a>
                <a class="category-danhmuc-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-category-danhmuc" src="../../../assets/toy.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2">Thời Trang</div>
                </a>
                <a class="category-danhmuc-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-category-danhmuc" src="../../../assets/electronic.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2">Thời Trang</div>
                </a>
                <a class="category-danhmuc-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-category-danhmuc" src="../../../assets/laptop.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2">Thời Trang</div>
                </a>
                <a class="category-danhmuc-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-category-danhmuc" src="../../../assets/toy.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2">Thời Trang</div>
                </a>
            </div>
        </div>
    </div>

    <div class="section-flash-sale">
        <div class="d-flex justify-content-between" style="padding: 1rem;">
            <h4 class="h4-flash-sale">
                Flash
                <img style="width: 25px;" src="https://frontend.tikicdn.com/_desktop-next/static/img/dealFlashIcon.svg" alt="">
                Sale
            </h4>
            <a class="mt-1" style="text-decoration: none;">Xem tất cả ></a>
        </div>
        <div class="list-flash-sale">
            <div class="group-flash-sale" #widgetsContent>
                <a [routerLink]="['/detail', 123]" class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                        <div class="title-discount">
                            50% Giảm
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
                <a class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                        <div class="title-discount">
                            50% Giảm
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
                <a class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
                <a class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
                <a class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
                <a class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
                <a class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
                <a class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
                <a class="flash-sale-detail">
                    <div class="d-flex justify-content-center">
                        <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    </div>
                    <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                    <div class="d-flex justify-content-between" style="padding: 0 .5rem;">
                        <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                        <div><i class="fa fa-heart text-danger"></i> 30</div>
                    </div>
                </a>
            </div>
            <div *ngIf="scroll" class="next-flash-sale" (click)="scrollRight()">
                <i class="fa fa-chevron-right icon-scoll"></i>
            </div>
            <div *ngIf="!scroll" class="prev-flash-sale" (click)="scrollLeft()">
                <i class="fa fa-chevron-left icon-scoll"></i>
            </div>
        </div>
    </div>

    <div class="section-home-product">
        <h3 class="title-home-product">Gợi Ý Hôm Nay</h3>
        <div class="group-grid-product-home">
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
        </div>

        <div class="btn-xemthem-home">
            <div class="view-continue">
                Xem thêm
            </div>
        </div>

    </div>
</div>

<div *ngFor="let item of user.ticket">
    <div>{{ item.tickId }}</div>
</div>

<div>{{ user.name }} </div>

<a class="btn btn-primary" (click)="handlerTicket()">Thêm Ticket</a>

<div *ngFor="let item of user.coupon">
    <div>{{ item.coupId }}</div>
</div>

<a class="btn btn-success" (click)="handlerCoupon()">Thêm Coupon</a>