<div class="row m-2">
    <div class="col-6 col-md-4 col-xl-3 mb-4 section-content" *ngFor="let item of listProduct">
        <mat-card class="example-card" [routerLink]="['/detail', item._id]">
            <img mat-card-image src={{item.image[0]}} style="width:250px;height:250px" alt="Photo of a Shiba Inu">
            <div class="discount" *ngIf="item.discount && item.discount > 0">
                Giảm {{item.discount}}%
            </div>
            <mat-card-content class="content-title">
                <h1 class="text-center my-2">{{item.name}}</h1>
                <div class="d-flex justify-content-between">
                    <div *ngIf="item.discount && item.discount > 0; else p">
                        <del style="font-size: 16px"> {{ item.price|currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</del>
                    </div>
                    <ng-template #p>
                        <p style="font-size: 16px"> {{ item.price|currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</p>
                    </ng-template>

                    <p class="text-danger" style="font-size: 16px" *ngIf="item.discount && item.discount > 0"> {{ item.priceDiscount | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</p>
                </div>
                <div class="d-flex justify-content-between" style="font-size:0.8rem">
                    <div><i class="fa fa-heart text-danger"></i> {{item.like}}</div>
                    <div *ngIf="item.numberSell>0" class="text-muted">Đã bán {{item.numberSell}}</div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>