<div class="layout-shop container">
    <div class="layout-chung-shop container">
        <div class="d-flex justify-content-center">
            <h4 class="title-shop">Thông Tin Shop</h4>
        </div>
        <div class="section-information-shop">
            <div class="d-flex">
                <div *ngIf="!shop.image" class="effect-skeleton" style="width: 85px; height: 85px; border-radius: 50%; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
                <img *ngIf="shop.image" class="image-infor-shop" src="{{ shop.image }}">
                <div style="margin: 0 0 0 1rem;">
                    <div *ngIf="!shop.name" class="effect-skeleton mt-2" style="width: 150px; height: 17px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                    <div *ngIf="!shop.name" class="effect-skeleton mt-2" style="width: 120px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                    <div *ngIf="!shop.name" class="effect-skeleton mt-2" style="width: 100px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                    <div *ngIf="shop.name" class="mt-1" style="font-family: 'Nunito Sans', sans-serif; font-size: 1.1rem;">{{ shop.name }}</div>
                    <div *ngIf="shop.name" class="d-flex" style="color: gray;">
                        <div class="bg-success" style="width: 15px; height: 15px; border-radius: 50%; margin-top: .1rem;"></div> &nbsp;
                        Đang hoạt động
                    </div>
                    <div *ngIf="shop.name" class="d-flex mt-1">
                        <div class="padding-infor-shop" data-bs-toggle="modal" data-bs-target="#chat-shop">
                            <i class="fa fa-comments"></i>
                            Chat Ngay
                        </div>
                        <a class="ms-1 padding-infor-shop">
                            <i class="fa fa-plus"></i>
                            Theo Dõi
                        </a>
                    </div>
                </div>
            </div>
            <div *ngIf="shop.name" class="detail-shop">
                <div class="d-flex justify-content-between w-100">
                    <div>Tỉ lệ phản hồi: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">{{ shop.reply }}%</span></div>
                    <br>
                    <div>Phản hồi: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">{{ shop.replyTime}}</span>
                    </div>
                    <br>
                    <div>Tham gia: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">{{ shop.createTime }}</span></div>
                </div>
                <div class="mt-3">
                    Về chúng tôi: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">{{ shop.description }}</span> 
                </div>
            </div>
            <div *ngIf="!shop.name" class="detail-shop">
                <div class="d-flex justify-content-between w-100">
                    <div class="effect-skeleton" style="width: 100px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                    <br>
                    <div class="effect-skeleton" style="width: 100px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                    <br>
                    <div class="effect-skeleton" style="width: 100px; height: 15px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="effect-skeleton" style="width: 100%; height: 50px; border-radius: 10px; background-color: #e2e2e2;">
                        <div class="shimmer-wrapper">
                            <div class="shimmer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="layout-chung-shop container">
        <div class="d-flex justify-content-center">
            <h4 class="title-shop">Mã khuyến mãi</h4>
        </div>
        <div *ngIf="shop.name" class="section-coupon-shop">
            <div *ngFor="let item of shop.coup" class="box-coupon-shop">
                <h6>Giảm giá {{ item.discount | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</h6>
                <div class="text-center p-3">Cho đơn hàng từ {{ item.limit | currency:'VND':'VNĐ':'1.0-0':'vi-VN' }}</div>
                <div class="d-flex justify-content-center p-3" style="border-top: 3px dotted #cccccc;">
                    <div class="text-danger">{{ item.code }}</div>
                </div>
            </div>
        </div>
        <div *ngIf="!shop.name" class="section-coupon-shop">
            <div *ngFor="let item of [0, 1, 2, 3]" class="box-coupon-shop">
                <div class="effect-skeleton" style="width: 100%; height: 170px; border-radius: 10px; background-color: #e2e2e2;">
                    <div class="shimmer-wrapper">
                        <div class="shimmer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <span class="text-danger pb-3">Lưu ý: Mỗi mã chỉ được sử dụng 1 lần</span>
        </div>
    </div>


    <div class="section-home-product">
        <h3 class="title-home-product">Sản phẩm của Shop</h3>
        <div class="group-grid-product-home">
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
        </div>

        <div class="btn-xemthem-home">
            <div class="view-continue">
                Xem thêm
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="chat-shop" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nhắn tin cho Shop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <label for="exampleFormControlTextarea1" class="form-label">Nhập tin nhắn ở đây:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Gửi Tin Nhắn</button>
            </div>
        </div>
    </div>
</div>