<div class="layout-shop container">
    <div class="layout-chung-shop container">
        <div class="d-flex justify-content-center">
            <h4 class="title-shop">Thông Tin Shop</h4>
        </div>
        <div class="section-information-shop">
            <div class="d-flex">
                <img class="image-infor-shop" src="https://cf.shopee.vn/file/8e96590a5d24415556a3c499129c197b_tn"
                    alt="">
                <div style="margin: 0 0 0 1rem;">
                    <div>YG Shop</div>
                    <div style="color: gray;">Online 2 giờ trước</div>
                    <div class="d-flex mt-1">
                        <div class="padding-infor-shop" data-bs-toggle="modal" data-bs-target="#chat-shop">
                            <i class="fa fa-comments"></i>
                            Chat Ngay
                        </div>
                        <a class="ms-1 padding-infor-shop">
                            <i class="fa fa-plus"></i>
                            Theo Dõi
                        </a>
                    </div>
                </div>
            </div>
            <div class="detail-infor-shop">
                <div class="margin-infor-shop">
                    <div>Đánh giá: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">16</span></div>
                    <br>
                    <div>Sản phẩm: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">123</span>
                    </div>
                </div>
                <div class="margin-infor-shop">
                    <div>Tỉ lệ phản hồi: <span
                            style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">99%</span></div>
                    <br>
                    <div>Phản hồi: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">Trong vài
                            giờ</span></div>
                </div>
                <div class="margin-infor-shop">
                    <div>Tham gia: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">14 tháng</span>
                    </div>
                    <br>
                    <div>Người theo dõi: <span style="color: #1A94FF; font-family: 'Nunito Sans', sans-serif;">26</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="layout-chung-shop container">
        <div class="d-flex justify-content-center">
            <h4 class="title-shop">Mã khuyến mãi</h4>
        </div>
        <div class="section-coupon-shop">
            <div class="box-coupon-shop">
                <h6>Giảm giá 20K</h6>
                <div class="text-center p-3">Cho đơn hàng từ 50K</div>
                <div class="d-flex justify-content-between p-3" style="border-top: 3px dotted #cccccc;">
                    <div class="text-danger">JTNDSYGL</div>
                    <div style="color: #1A94FF">Lưu</div>
                </div>
            </div>
            <div class="box-coupon-shop">
                <h6>Giảm giá 20K</h6>
                <div class="text-center p-3">Cho đơn hàng từ 50K</div>
                <div class="d-flex justify-content-between p-3" style="border-top: 3px dotted #cccccc;">
                    <div class="text-danger">JTNDSYGL</div>
                    <div style="color: #1A94FF">Lưu</div>
                </div>
            </div>
            <div class="box-coupon-shop">
                <h6>Giảm giá 20K</h6>
                <div class="text-center p-3">Cho đơn hàng từ 50K</div>
                <div class="d-flex justify-content-between p-3" style="border-top: 3px dotted #cccccc;">
                    <div class="text-danger">JTNDSYGL</div>
                    <div style="color: #1A94FF">Lưu</div>
                </div>
            </div>
            <div class="box-coupon-shop">
                <h6>Giảm giá 20K</h6>
                <div class="text-center p-3">Cho đơn hàng từ 50K</div>
                <div class="d-flex justify-content-between p-3" style="border-top: 3px dotted #cccccc;">
                    <div class="text-danger">JTNDSYGL</div>
                    <div style="color: #1A94FF">Lưu</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <span class="text-danger pb-3">Lưu ý: Mỗi mã chỉ được sử dụng 1 lần</span>
        </div>
    </div>


    <div class="section-home-product">
        <h3 class="title-home-product">Sản phẩm của Shop</h3>
        <div class="group-grid-product-home">
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
            <a class="list-product-home">
                <div class="d-flex justify-content-center">
                    <img class="image-flash-sale" src="https://cf.shopee.vn/file/982288c945924c88183d6cc2149484e3_tn" alt="">
                    <div class="title-discount">
                        50% Giảm
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2" style="padding: 0 .5rem;">Áo thun freesize thương hiệu YG</div>
                <div class="d-flex justify-content-between" style="padding: 0 1rem;">
                    <div class="text-danger" style="font-size: 1.1rem;"> {{ 70000 | currency: "VND" }}</div>
                    <div><i class="fa fa-heart text-danger"></i> 30</div>
                </div>
            </a>
        </div>

        <div class="btn-xemthem-home">
            <div class="view-continue">
                Xem thêm
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="chat-shop" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nhắn tin cho Shop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <label for="exampleFormControlTextarea1" class="form-label">Nhập tin nhắn ở đây:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Gửi Tin Nhắn</button>
            </div>
        </div>
    </div>
</div>