
body{
    height: 900px;
    width: 1000px
}

table {
    width: 100%;
}

th{
    background-color: #1A94FF;
}

table, th, td {
    border: solid 1px #DDD; 
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}