/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

.view-all {
    text-align: center;
    padding: .5rem;
    transition: all .2s ease-in-out;
}

.view-all:hover {
    background-color: #1A94FF;
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    animation: showNavbar .7s;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%) !important;
}


/* Modal */

.modal.show .modal-dialog {
    animation: fadeIn .3s ease !important;
}

.modal-dialog {
    animation: fadeOut .3s ease-out !important;
}

.modal {
    top: 13%;
}

.modal-title {
    margin-top: 1rem !important;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 1.2rem !important;
}

/* Toast */

.toast-header{
	background-color: #1A94FF;
	color: #fff;
}

.toast-body{
	background-color: #fff;
}

.toast.show{
	animation: moveIn 1s;
}

@keyframes moveIn {
	0%{
		transform: translateX(300px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes fadeOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/* Modal */

@keyframes showNavbar {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showLayout {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveShowLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


/* Css Home */

.group-grid-product-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* gap: 5px; */
}

.title-discount {
    padding: .3rem;
    background-color: #ffae00;
    position: absolute;
    left: 77.2%;
    color: #fff;
    width: 48px;
    text-align: center;
}

.title-discount::after {
    content: '';
    position: absolute;
    top: 3.05rem;
    left: -1.5%;
    border-width: 15px 25px;
    border-style: solid;
    border-color: #ffae00 transparent transparent transparent;
}

.title-new-product {
    padding: .3rem;
    background-color: #1A94FF;
    position: absolute;
    top: 0;
    left: 91.3%;
    color: #fff;
    width: 48px;
    text-align: center;
}

.title-new-product::after {
    content: '';
    position: absolute;
    top: 3.05rem;
    left: -1.5%;
    border-width: 15px 25px;
    border-style: solid;
    border-color: #1A94FF transparent transparent transparent;
}

.image-flash-sale {
    width: 250px;
    height: 250px;
}

.section-home-product {
    padding-top: 3rem;
}

.list-product-home {
    position: relative;
    padding: .5rem 0;
    text-decoration: none;
    color: #323232;
    cursor: pointer;
    padding: 1rem;
    transition: all .3s ease-in-out;
    background-color: #fff;
    margin: 1rem 1.4rem;
    box-shadow: .5px .5px 6px #e4e4e4;
}

.list-product-home:hover {
    transform: translateY(-7px);
    color: #323232;
}

.title-home-product {
    background-color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-style: italic;
    color: #323232;
    box-shadow: .5px .5px 6px #e4e4e4;
}

.btn-xemthem-home {
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.view-continue {
    background-color: #1A94FF;
    color: #fff;
    padding: .5rem 6rem;
    box-shadow: .5px .5px 6px #e4e4e4;
    border-radius: 5px;
}

.view-continue:hover {
    background-color: #1274c9;
}

.font-title {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

h3{
    font-size: 1.5rem !important;
}

.ticket{
    color: #fff;
    padding: .2rem .6rem;
    width: 100%;
    font-size: .95rem;
}

.ticket.active{
    background-color: #1A94FF;
}

.ticket.unactive{
    background-color: #df3a3a;
}