/* You can add global styles to this file, and also import other style files */

body {
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Raleway', sans-serif !important;
  background-color: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

.view-all {
    text-align: center;
    padding: .5rem;
    transition: all .2s ease-in-out;
}

.view-all:hover {
    background-color: #1A94FF;
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    animation: showNavbar .7s;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%) !important;
}

/* Skeleton */
.effect-skeleton{
    animation: skeleton 1.7s;
    animation-iteration-count: infinite;
    position: relative;
    overflow: hidden;
}

/* animation */
.shimmer-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 1.7s infinite;
}

.shimmer{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    transform: skewX(-20deg);
}

@keyframes skeleton {
    0%{
    }
    50%{
        background-color: #f1f1f1;
    }
    100%{
        background-color: #e2e2e2;
    }
}

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(150%);
    }
}
/* Skeleton */



/* Modal */

.modal.show .modal-dialog {
    animation: fadeIn .3s ease !important;
}

.modal-dialog {
    animation: fadeOut .3s ease-out !important;
}

.modal {
    top: 13%;
}

.modal-title {
    margin-top: 1rem !important;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 1.2rem !important;
}

/* Toast */

.toast-header{
	background-color: #1A94FF;
	color: #fff;
}

.toast-body{
	background-color: #fff;
}

.toast.show{
	animation: moveIn 1s;
}

@keyframes moveIn {
	0%{
		transform: translateX(300px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes fadeOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}


/* Modal */

@keyframes showNavbar {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showLayout {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveShowLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


/* Css Home */

.group-grid-product-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* gap: 5px; */
}

.title-discount {
    padding: .3rem;
    background-color: #ffae00;
    position: absolute;
    left: 77.2%;
    color: #fff;
    width: 48px;
    text-align: center;
}

.title-discount::after {
    content: '';
    position: absolute;
    top: 3.05rem;
    left: -1.5%;
    border-width: 15px 25px;
    border-style: solid;
    border-color: #ffae00 transparent transparent transparent;
}

.title-new-product {
    padding: .3rem;
    background-color: #1A94FF;
    position: absolute;
    top: 0;
    left: 91.3%;
    color: #fff;
    width: 48px;
    text-align: center;
}

.title-new-product::after {
    content: '';
    position: absolute;
    top: 3.05rem;
    left: -1.5%;
    border-width: 15px 25px;
    border-style: solid;
    border-color: #1A94FF transparent transparent transparent;
}

.image-flash-sale {
    width: 250px;
    height: 250px;
}

.section-home-product {
    padding-top: 3rem;
}

.list-product-home {
    position: relative;
    padding: .5rem 0;
    text-decoration: none;
    color: #323232;
    cursor: pointer;
    padding: 1rem;
    transition: all .3s ease-in-out;
    background-color: #fff;
    margin: 1rem 1.4rem;
    box-shadow: .5px .5px 6px #e4e4e4;
}

.list-product-home:hover {
    transform: translateY(-7px);
    color: #323232;
}

.title-home-product {
    background-color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-style: italic;
    color: #323232;
    box-shadow: .5px .5px 6px #e4e4e4;
}

.btn-xemthem-home {
    margin: 3rem 0 2rem 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.view-continue {
    background-color: #1A94FF;
    color: #fff;
    padding: .5rem 6rem;
    box-shadow: .5px .5px 6px #e4e4e4;
    border-radius: 5px;
}

.view-continue:hover {
    background-color: #1274c9;
}

.font-title {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
}

h3{
    font-size: 1.5rem !important;
}

.ticket{
    color: #fff !important;
    padding: .2rem .6rem;
    width: 100%;
    font-size: .95rem;
}

.ticket.active{
    background-color: #1A94FF !important;
}

.ticket.unactive{
    background-color: #df3a3a !important;
}

.fade-true{
    animation: fade_true .5s ease-in-out;
}

@keyframes fade_true {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.bg-cart-empty{
    background-image: url(./assets/cart-empty.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 6rem;
}

.box-order-ticket{
    display: flex;
    margin-top: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #f1f1f1 !important;
    cursor: pointer;
    box-shadow: .5px .5px 5px #e2e2e2;
    transition: all .3s ease-in-out;
}

.box-order-ticket.active{
    border-left: 13px solid #1A94FF !important;
    background-color: #f5f5f5 !important;
}

.coup__create-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A94FF;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    color: white;
  }
  
  .coup__create-btn:hover{
    opacity: 0.9;
  }
  
  .coup__create-icon{
    margin-right: 12px;
    font-size: 20px;
  }
  
  .coup__create-text{
    font-size: 14px;
    display: inline-block;
    margin: 0;
  }
  /* Modal common */
  
  .mdl{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .mdl-container{
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
  }
  
  .mdl-help{
    z-index: 9999999;
  }
  
  .address-edit__item-location{
    display: flex;
    align-items: center;
  }
  
  .address__help-modal{
    margin-left: 8px;
    margin-bottom: 11px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .address__help-modal-title{
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
    display: none;
    animation: fadeIn ease .5s;
  }
  
  .address__help-modal:hover{
    cursor: pointer;
  }
  
  .address__help-modal:hover .address__help-modal-title{
    cursor: pointer;
    display: block;
  }
  
  .address__help-modal-icon{
    font-size: 28px;
  }
  /* Modal help address */
  
  .address-step-order{
    font-size: 16px;
    margin: 12px 0 24px 0;
  }
  
  .address-step-order-label{
    line-height: 1.6;
    font-weight: 500;
  }
  
  .address-step-order-image{
    width: 90%;
  }
  
  /* Modal post address */
  
  .address-edit__info{
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .address-edit__item{
    width: 100%;
  }
  
  .address-edit__item-label{
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
    color: black;
    font-weight: 600;
  }
  
  .address-edit__item-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    margin-bottom: 24px;
    border-radius: 3px;
  }

  .content-sub-notification{
    margin-left: 1rem;
}

.image-sub-notification{
    width: 50px;
    height: 50px;
}

.hover-sub-notification{
    display: flex;
    padding: .5rem;
}

.link-sub-notification{
  text-decoration: none;
  color: black;
}

.hover-sub-notification.active{
    background-color: #f1f1f1;
}

.hover-sub-notification:hover{
    background-color: #f1f1f1;
}

/* Sub menu for cart */
.nav-option > .sub-menu{
    width: 400px;
    background-color: #fff;
    padding: .4rem .8rem;
    position: absolute;
    top: 6rem;
    right: 8%;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%) !important;
    color: #323232;
    opacity: 0; 
    visibility: hidden;
    transform : translate(200px, -200px) scale(0);
    z-index: 999;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.nav-option > .sub-menu::after{
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 90%;
    border-width: 10px 18px !important;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.nav-option:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transform : translate(0px, 0px) scale(1);
}

.group-detail-cart{
    padding: 2rem 1rem;
}

@keyframes showScale {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/* Sub menu */


/* Footer */
.footer-title{
    font-family: 'Nunito Sans', sans-serif;
}

.footer{
    background-color: #fff;
    width: 100%;
    color: #323232;
    font-weight: 300;
    padding: 3rem 2rem;
}

.layout-footer{
    display: grid;
    grid-template-columns: 1.5fr 0.75fr 1fr .75fr;
    gap: 30px;
}

.fanpage-image{
    width: 280px;
    height: 140px;
    background-color: red;
    margin-top: 1rem;
}

.fanpage-image img{
    width: 75px;
    height: 70px;
    background-color: #fff;
}

.layout-footer-responsive{
    display: none;
}

.copyright{
    text-align: center;
    font-weight: 300;
    background-color: #fff;
}

.copyright a{
    color: #000 !important;
}

li{
    list-style: none;
}

.main-header-mobile{
    box-shadow: .5px .5px 6px #a5a5a5;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    background-color: #1A94FF;
    color: #fff;
    padding: .5rem;
    z-index: 999;
}

.layout-header-mobile{
    display: flex;
    justify-content: space-between;
}

.direct-top{
    cursor: pointer;
    position: fixed;
    top: 90%;
    left: 95%;
}

.fix-icon-direct{
    padding: .4rem .7rem .8rem .7rem;
    background-color: #1A94FF;
    border-radius: 4px;
    font-size: 35px;
    color: #fff;
    box-shadow: .5px .5px 4px #c4c4c4;
    transition: all .3s ease-in-out;
    transform: scale(1);
}

.fix-icon-direct:hover{
    transform: scale(1.1);
}

.logo-mini-profile{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #bebebe;
}

.searchNull{
    background-image: url(./assets/search.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 6rem;
}

.mat-tab-link.mat-focus-indicator.active{
    background-color: transparent !important;
    border-bottom: 2px solid #1A94FF;
}

.dot{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px 12px;
    margin: 1rem 0;
    display: inline-block;
    transition: background-color 0.6s ease;
    outline: none;
    border: 1px solid rgb(221, 221, 221);
  
  }
  
  .active{
    background-color: #1A94FF;
  }
  
  .dot:hover,
  .prev:hover,
  .next:hover{
    background-color: #1A94FF;
    opacity: 0.5;
  }
  
  /* New Header */
  
  .coup__header{
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .coup__caption{
    flex: 1;
  }
  
  .coup__heading-wrap{
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  
  .coup__title h2{
    font-size: 22px;
    font-weight: 600;
    margin: 0;
  }
  
  .coup__help{
    margin-left: 12px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .coup__help-title{
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
    display: none;
    animation: fadeIn ease .5s;
  }
  
  .coup__help:hover{
    cursor: pointer;
  }
  
  .coup__help:hover .coup__help-title{
    cursor: pointer;
    display: block;
  }
  
  .coup__help-icon{
    font-size: 28px;
  }
  
  .coup__subtitle{
    font-size: 14px;
    color: #999999;
  }
  .address-edit__item-input-desc{
    height: 100px;
  }
  
  .address-edit__item-select{
    height: 34.8px;
    font-size: 14px;
    border: 1px solid #ccc;
  }
  
  .address-check-group{
    display: block;
    outline: none;
    cursor: pointer;
  }
  
  .address-check-group,
  .address-check-item,
  .address-check-input,
  .address-check-label{
    cursor: pointer;
  }
  
  .padding-size{
    padding: .2rem .8rem;
    margin: .2rem .5rem;
    border: 1px solid #f1f1ff;
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

.padding-size.active{
    background-color: #1A94FF !important;
    color: #fff !important;
}

.padding-size:first-child{
    margin-left: 0rem !important;
}

.padding-size:last-child{
    padding: .2rem .6rem;
}

@media only screen and (max-width: 600px){
    .layout-footer-responsive{
        display: block;
    }

    .layout-footer{
        display: none;
    }

    .group-footer{
        display: flex;
        justify-content: space-between;
        padding-bottom: .5rem;
        border-bottom: 1px solid #fff;
    }

    .main-header-mobile{
        display: block;
    }

    .main-header{
        display: none;
    }

    .count-cart{
        left: 67% !important;
    }

    .padding-cart-header{
        padding: .5rem 1.2rem !important;
        margin-right: 1rem;
    }

    .nav-bar-mobile{
        padding: .4rem 1rem;
        background-color: #1274ca;
        border-radius: 5px;
        cursor: pointer;
    }

    .offcanvas-header{
        box-shadow: .5px .5px 6px #a5a5a5;
        background-color: #1A94FF;
    }

    .offcanvas-start{
        width: 350px !important;
        border-right: none !important;
    }

    .name-nav-mobile{
        color: #323232;
        padding: .5rem 1rem;
        margin-top: 1rem;
        font-size: 1.2rem;
        border-bottom: 1px solid #f1f1f1;
        transition: all .5s ease-in-out;
    }

    .name-nav-mobile:hover{
        border-left: 10px solid #1A94FF;
    }

    .direct-top{
        left: 84%;
    }
}