<div class="layout-search ">
    <div class="container-fluid container-md section-search">
        <div class="row section-content">
            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-2 section-left">

                <div class="mt-2 section-item">
                    <div class="m-3">
                        <h1 class="font-title login-title mb-2">Khoảng giá</h1>
                        <form>
                            <div class="d-flex justify-content-lg-start">
                                <mat-form-field appearance="outline" floatLabel="always" style="width:83px" class="mr-1">
                                    <mat-label>Từ</mat-label>
                                    <input matInput type="number" class="example-right-align" placeholder="0">
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" style="width:83px">
                                    <mat-label>Đến</mat-label>
                                    <input matInput type="number" class="example-right-align" placeholder="0">
                                </mat-form-field>
                            </div>
                            <button class="btn-otp" mat-raised-button color="primary">Áp dụng</button>
                        </form>
                    </div>
                </div>

                <div class="mt-2 section-item">
                    <div class="m-3">
                        <h1 class="font-title login-title mb-2">Danh mục sản phẩm</h1>
                        <div class="select-checkbox">
                            <div class="mt-2" *ngFor="let shoe of typesOfShoes">
                                <mat-checkbox class="lbl-name">{{shoe}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-2 section-item">
                    <div class="m-3">
                        <h1 class="font-title login-title mb-2">Nơi bán</h1>
                        <div class="select-checkbox">
                            <div class="mt-2" *ngFor="let shoe of typesOfShoes">
                                <mat-checkbox class="lbl-name">{{shoe}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-lg-9 col-xl-10 section-right">
                <mat-tab-group animationDuration="1000ms">
                    <mat-tab label="Phổ biến">
                        <app-list-product></app-list-product>
                    </mat-tab>
                    <mat-tab label="Bán chạy">
                        <app-list-product></app-list-product>
                    </mat-tab>

                    <mat-tab label="Hàng mới">
                        <app-list-product></app-list-product>
                    </mat-tab>
                    <mat-tab label="Giá cao">
                        <app-list-product></app-list-product>
                    </mat-tab>
                    <mat-tab label="Giá thấp">
                        <app-list-product></app-list-product>
                    </mat-tab>
                </mat-tab-group>
                <app-pagination></app-pagination>
            </div>
        </div>

    </div>
</div>
