<div class="layout-login">
    <div class="section-login">
        <div class="login-form my-5">
            <form>
                <h1 class="login-title font-title">Quên mật khẩu</h1>
                <div class="mb-3 d-flex" style="width:350px">
                    <mat-form-field appearance="outline">
                        <mat-label>Vui lòng nhập email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Vui lòng nhập email
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button type="button" class="btn btn-otp">Gởi mã OTP</button>
                </div>

                <div class="mb-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Vui lòng nhập mã OTP</mat-label>
                        <input matInput placeholder="Mã OTP">
                    </mat-form-field>
                </div>

                <div class="text-left mb-3">
                    Bạn đã có tài khoản?
                    <a [routerLink]="['/login']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}" class="a-nav-link font-title">Đăng nhập</a>
                </div>

                <button type="submit" class="btn btn-login">Đăng ký</button>
            </form>
        </div>
    </div>
</div>
