/* .content-voucher {
    box-shadow: 0.125rem 0.125rem 0.3125rem rgb(0 0 0 / 7%);
    border: 1px solid black;
} */

.example-card {
    border-radius: 8px;
}

.image-voucher {
    margin-left: -5px;
}

.image-voucher img {
    border-radius: 8px;
}

.mat-card-header-text {
    margin: 0!important;
}

.title {
    font-size: 18px
}

.date-inspire {
    color: rgba(0, 0, 0, .54);
}

.btn-tooltip {
    border: none !important;
    background: none !important
}

.tooltip-inner {
    color: black;
    background-color: whitesmoke;
    font-size: 125%;
    max-width: 300px;
}

.my-custom-class .arrow::before {
    border-top-color: whitesmoke;
}

.content-tooltip {
    font-size: 12px;
}

.text-title,
.text-content {
    font-size: 14px;
}

.text-content {
    font-weight: 500;
}
